---
title: Thinset | Tile Grout | Sandstone Render | Plaster Mix | Trinidad &amp; Tobago

metaDescription: Micro Milling LTD provides quality service and products to the Caribbean contractor who needs the best in thinset, grout, sandstone render and plaster mix. We have been serving customers since 1974 and are committed to continue to grow and diversify our products to meet your needs.

metaKeywords: Micro milling, sand processing, cement blocks, cement, trinidad, tobago, caribbean, TTMA, NTCA, tile, Thinset, Grout, Sandstone Render, Plaster Mix, Trinidad and Tobago Manufacturers Association, National Tile Contractors Association, concrete, mortar mix, cement, concrete repair products, stucco, waterproofing, tile setting, blacktop products, thin set, floor underlayment, sand, aggregates, masonry, Micro Milling LTD, Plaisance Park Industrial Estate, Point-a-Pierre, Trinidad

slug: concrete_mix
date: 2016-09-13 21:22:54
layout: main
sidebar:
  pages:
    overview:
      href: '#overview'
      lang_key: concrete_mix.sidebar.pages.overview
    tips:
      href: '#tips'
      lang_key: concrete_mix.sidebar.pages.tips
sub_sidebar:
  pages:
    thin_set:
      class: blue
      lang_key: concrete_mix.sub_sidebar.pages.thin_set
    premium_thin_set:
      class: yellow
      lang_key: concrete_mix.sub_sidebar.pages.premium_thin_set
    plaster_mix:
      class: red
      lang_key: concrete_mix.sub_sidebar.pages.plaster_mix
    tile_grout:
      class: red
      lang_key: concrete_mix.sub_sidebar.pages.tile_grout
    sandstone_render:
      class: brown
      lang_key: concrete_mix.sub_sidebar.pages.sandstone_render
language: en
---
<div id="content" style="padding-top: 5px;">
  <div class="product">
    <div class="title_side title_side_green2"></div>
    <div class="title title_green2 sub_title_side_green2" id="overview">Concrete Mix</div>
    <p>Micro Milling Concrete Mix is a blend of Sand, Fine Aggregate and Cement.</p>
    <div class="sub_title_box">
      <div class="sub_title_side sub_title_side_green2"></div>
      <div class="sub_title sub_title_green2" id="tips">Tips &amp; Usage</div>
    </div>
    <p><strong>USES</strong><br />Repairing of concrete, setting posts, anchoring poles, casting driveways, walkways and steps.</p>
    <p><strong>APPLICATION</strong>
    <ul style="margin-top: 0px;">
      <li>Empty contents into a mechanical mixer, wheel barrow or a smooth non-porous surface.</li>
      <li>Add approximately 3 US Quarts/50lbs bag and mix thoroughly until a workable consistency is achieved.</li>
      <li>Avoid a soupy mix. Excess water reduces strength and durability and can cause cracking.</li>
      <li>When repairing concrete, remove all loose material. Dampen adjoining concrete surfaces.</li>
      <li>Place Micro Milling Concrete Mix and work the material into voids, then level the surface with a straight edge. Allow freshly placed concrete mix to set about 30 minutes to one hour or until the surface water has begun to disappear. Use a float to smooth finish. For a rougher surface use a broom.</li>
      <li>Keep material damp for several days. Avoid foot traffic for 24 hours.</li>
      <li>1 50 lbs bag is equivalent to approximately 0.4 cubic ft.</li>
    </ul>
    </p>
    <p><strong>CLEAN UP</strong><br />Clean hands and tools with soapy water before materials dry.<br/><br/>
    <strong>CAUTION</strong><br />During mixing or application avoid contact with eyes and skin. In case of contact with eyes rinse repeatedly with water and call physician. Wash thoroughly after handling. Do not take internally.<br/><br/><strong>STORAGE &amp; SHELF LIFE</strong><br />12 months from date of manufacture in unopened bags that are properly stored.</p>
  </div>
</div>