---
title: Concrete Mix

metaDescription:

metaKeywords:

slug: concrete_mix
date: 2016-09-13 21:22:54
layout: main
sidebar:
  pages:
    overview:
      href: '#overview'
      lang_key: concrete_mix.sidebar.pages.overview
    tips:
      href: '#tips'
      lang_key: concrete_mix.sidebar.pages.tips
sub_sidebar:
  pages:
    thin_set:
      class: blue
      lang_key: concrete_mix.sub_sidebar.pages.thin_set
    premium_thin_set:
      class: yellow
      lang_key: concrete_mix.sub_sidebar.pages.premium_thin_set
    plaster_mix:
      class: red
      lang_key: concrete_mix.sub_sidebar.pages.plaster_mix
    tile_grout:
      class: red
      lang_key: concrete_mix.sub_sidebar.pages.tile_grout
    sandstone_render:
      class: brown
      lang_key: concrete_mix.sub_sidebar.pages.sandstone_render
language: fr
---
<div id="content" style="padding-top: 5px;">
  <div class="product">
    <div class="title_side title_side_green2"></div>
    <div class="title title_green2 sub_title_side_green2" id="overview">Concrete Mix</div>
    <p>Micro MILLING CONCRETE MIX est un mélange de sable, agrégats fins et ciment.</p>
    <div class="sub_title_box">
      <div class="sub_title_side sub_title_side_green2"></div>
      <div class="sub_title sub_title_green2" id="tips">CONSEILS ET UTILISATION</div>
    </div>
    <p><strong>UTILISATIONS</strong><br />réparer le béton, la mise en poteaux, coulée allées, les trottoirs et les marches.</p>
    <p><strong>APPLICATION</strong>
    <ul style="margin-top: 0px;">
      <li>Vider le contenu dans un mélangeur mécanique, brouette ou une surface lisse non poreuse.</li>
      <li>Ajouter environ 3 US Quarts / sac de 50lbs et bien mélanger jusqu'à obtenir la consistance voulue.</li>
      <li>Évitez un mélange très brumeux. L'excès d'eau réduit la résistance et la durabilité et peut provoquer des fissures.</li>
      <li>Lors de la réparation du béton, enlever tous les matériaux en vrac. Humidifiez les surfaces de béton adjacentes. Placez MICRO MILLING CONCRETE Mix et de travailler le matériau dans les vides, puis niveler la surface avec un bord droit. Laissez le mélange de béton fraîchement mis en place pour régler environ 30 minutes à une heure ou jusqu'à ce que l'eau de surface a commencé à disparaître. Utilisez un flotteur à finition lisse. Pour une surface plus rugueuse utiliser un balai.</li>
      <li>Garder humide pendant plusieurs jours. Éviter la circulation piétonnière pendant 24 heures.</li>
      <li>1 50 lbs sac est équivalent à environ 0,4 pieds cubes.</li>
    </ul>
    </p>
    <p><strong>NETTOYAGE</strong><br />
    Nettoyer les mains et les outils avec de l'eau chaude savonneuse avant que les résidus des matériaux soient secs<br/><br/>
    <strong>AVERTISSEMENT</strong><br />
    Pendant le mélange ou l'application, éviter tout contact de résidu sur les yeux et la peau. En cas de contact avec les yeux, laver abondamment à l'eau et appeler un médecin.<br/><br/>
    <strong>STOCKAGE ET CONSERVATION</strong><br />
    12 mois à compter de la date de fabrication emballé dans des sacs fermés qui sont correctement stockées.</p>
  </div>
</div>