---
title: NUESTRO COMPROMISO CON LA CALIDAD

metaDescription:

metaKeywords:

slug: committment
date: 2016-09-13 21:22:54
layout: main
sidebar:
  pages:
    company:
      lang_key: committment.sidebar.pages.company
    committment:
      lang_key: committment.sidebar.pages.committment
language: es
---
<div id="content">
  <div id="page_header">NUESTRO COMPROMISO CON LA CALIDAD</div>
  <div id="company_pic"><img src="/img/commitment.jpg" width="653" height="152" alt="The Company" /></div>

  <p class="clear">Micro Milling Ltd procesa su propia arena usada en las mezclas para su Thinset, Grout, Sandstone Render y Plaster Mix, todos los cuáles han probado estar a la altura de los requisitos específicos de la industria de la construcción.</p>

  <p>La ventaja de la empresa está en el hecho de que ponemos un gran énfasis en las pruebas regulares de nuestros productos para asegurar que la calidad se mantiene en todo momento de manera consistente. Esto se hace en nuestro laboratorio interno, que es una instalación a la última tecnología, muy moderna, preparada para mejorar nuestras capacidades de investigación y desarrollo y severos métodos de control.</p>

  <p>Además de eso, trabajamos incansablemente para asegurar que nuestros clientes reciben el mejor servicio posible: una entrega rápida y eficiente – tan rápida como en el mismo día la mayoría de los días, hasta detalles como las bolsas de empaquetado para que no hayan desorden ni derrames durante el transporte.</p>

  <p>Aquí tienes ejemplos de lo que dicen nuestros distribuidores:</p>

  <p style="margin: 0px 0px 25px 0px;"><img src="/img/rafmon.gif" width="46" height="50" alt="Rafmon Marketing" style="float: left; margin: 0px 10px 0px 0px;" /> “Estamos muy contentos con el nivel del servicio de Micro Milling Ltd. Hacemos muchos negocios con ellos” &ndash; <strong style="color: #4145a6;"><a href="http://www.rafmon.com/" target="_blank">Carlos Figuero, Rafmon Marketing</a></strong></p>

  <p style="margin: 0px 0px 10px 0px;"><img src="/img/ceramic_trinidad.gif" width="46" height="50" alt="Cermaic Trinidad Limited" style="float: left; margin: 0px 10px 0px 0px;" /> “La calidad de los productos Micro Milling es comparable a cualquiera del mercado internacional. Desde el punto de vista de un distribuidor, es un añadido ser capaz de conseguir productos con ese nivel de calidad de un fabricante local” &ndash; <strong style="color: #4145a6;"><a href="http://www.ceramictrinidadltd.com" target="_blank">Roger Hadeed, Ceramic Trinidad Limited</a></strong>.</p>

  <p style="margin: 0px 0px 10px 0px;"><img src="/img/tilewarhouse.gif" width="46" height="50" alt="Tile Warehouse" style="float: left; margin: 0px 10px 0px 0px;" /> “Micro Milling son los mejores. Los albañiles solicitan sus productos por su facilidad para trabajar con ellos. Su fórmula cumple con las demandas que han sido hechas previamente por parte de los usuarios de Thinset en el Caribe. El servicio es excelente” &ndash; <strong style="color: #4145a6;"><a href="http://www.tile-warehouse.net" target="_blank">Chris Ramdath, Tile Warehouse</a></strong></p>

  <p>“Micro Milling suministra una valiosa selección de productos. Nos han estado proveyendo desde que abrimos el negocio hace siete años y todavía no tenemos quejas en lo que respecta a la calidad” &ndash; <strong style="color: #4145a6;">Dewan Singh, Classic Tiles</strong></p>
</div>
