---
title: PROFIL DU COMPAGNIE

metaDescription:

metaKeywords:

slug: company
date: 2016-09-13 21:22:54
layout: main
sidebar:
  pages:
    company:
      lang_key: company.sidebar.pages.company
    committment:
      lang_key: company.sidebar.pages.committment
language: fr
---
<div id="content">
  <div id="page_header">PROFIL DU COMPAGNIE</div>
  <div id="company_pic"><img src="/img/company_pic.jpg" width="653" height="152" alt="The Company" /></div>
  <p class="clear">Notre entreprise initiale a été en 1974 avec une entreprise de traitement de sable. Avec 20 ans d'expérience dans le domaine du sable et de l'assistance d'experts européens, l'entreprise a progressé avec succès dans les mélanges de ciment/sable et c’est ainsi que Micro Milling Ltd fut créée en 1995.</p>
  <p>Nous avons lancé l'entreprise avec seulement une usine, un seul produit, et environ cinq employés. Et Depuis, grâce à la recherche et le développement de Micro Milling Ltd, la gamme de produit sont maintenant des produits suivants : Mortier mince, Ciment, Enduit de grès et Mélange de Plâtre. Depuis, La société a été agrandie pour accueillir deux usines avec une capacité suffisante pour servir le marché local, ainsi que dans les Caraïbes.</p>
  <p>Nous sommes un établissement familial, avec les mains en fonctionnement, dédié à fournir un service de qualité à nos clients. En tant que membres de la TTMA (Trinidad and Tobago Manufacturers Association) et de la NTCA (National Tile Contractors Association), nous continuons à croître alors que nous visons à ajouter plus de diversité à notre gamme de produit et d'élargir nos marchés.</p>
</div>