---
title: Thinset | Tile Grout | Sandstone Render | Plaster Mix | Trinidad &amp; Tobago

metaDescription: Micro Milling LTD provides quality service and products to the Caribbean contractor who needs the best in thinset, grout, sandstone render and plaster mix. We have been serving customers since 1974 and are committed to continue to grow and diversify our products to meet your needs.

metaKeywords: Micro milling, sand processing, cement blocks, cement, trinidad, tobago, caribbean, TTMA, NTCA, tile, Thinset, Grout, Sandstone Render, Plaster Mix, Trinidad and Tobago Manufacturers Association, National Tile Contractors Association, concrete, mortar mix, cement, concrete repair products, stucco, waterproofing, tile setting, blacktop products, thin set, floor underlayment, sand, aggregates, masonry, Micro Milling LTD, Plaisance Park Industrial Estate, Point-a-Pierre, Trinidad

slug: news
date: 2016-09-13 21:22:54
layout: main
sidebar:
  pages:
    news0:
      url: false
      lang_key: news.sidebar.pages.news0
    news1:
      url: false
      lang_key: news.sidebar.pages.news1
    news2:
      url: false
      lang_key: news.sidebar.pages.news2
    news3:
      url: false
      lang_key: news.sidebar.pages.news3
    news4:
      url: false
      lang_key: news.sidebar.pages.news4
    news5:
      url: false
      lang_key: news.sidebar.pages.news5
    news6:
      url: false
      lang_key: news.sidebar.pages.news6
    news7:
      url: false
      lang_key: news.sidebar.pages.news7

language: en
---
<div id="content">
  <div id="page_header">Latest News</div>
  <div class="article">
    <div class="title">Family Company Lays the Foundation for Success</div>
    <div class="pic"><img src="/img/article_pic.gif" width="122" height="86" alt="" /></div>
    <div class="content">Mirco Milling Ltd is a Trinidad-based, family-run company that produces sand/cement blends.</div>
    <div class="read_more"><a href="http://businessviewcaribbean.com/digital-magazines/july-2015/files/assets/basic-html/index.html#52" target="_blank"><img src="/img/button_read_more.gif" width="87" height="22" alt="Read More" /></a></div>
  </div>
  <div class="article">
    <div class="title">New Grout Colours Now Available</div>
    <div class="pic"><img src="/img/article_pic.gif" width="122" height="86" alt="" /></div>
    <div class="content">Due to popular demand, our line of grout products now include 3 exciting new colours; Antique, Sun Glow and Sea Shell. </div>
    <div class="read_more"><a href="/new-colours.html" class="news"><img src="/img/button_read_more.gif" width="87" height="22" alt="Read More" /></a></div>
  </div>
  <div class="article">
    <div class="title">New Plaster and Concrete Mixes</div>
    <div class="pic"><img src="/img/article_pic.gif" width="122" height="86" alt="" /></div>
    <div class="content">Our products now include plaster mix and concrete mix geared towards making the contractors job easier with consistent, quality mixes.</div>
    <div class="read_more"><a href="/mixes.html" class="news"><img src="/img/button_read_more.gif" width="87" height="22" alt="Read More" /></a></div>
  </div>
  <div class="article">
    <div class="title">Micro Millings Thinset now available in Guyana</div>
    <div class="pic"><img src="/img/article_pic.gif" width="122" height="86" alt="" /></div>
    <div class="content">After "excellent reviews" from local contractors TCL Guyana now distributes nationwide.</div>
    <div class="read_more"><a href="/guyana.html" class="news"><img src="/img/button_read_more.gif" width="87" height="22" alt="Read More" /></a></div>
  </div>
  <div class="article">
    <div class="title">Micro Milling Ltd. hosts historic NTCA Workshop</div>
    <div class="pic"><img src="/img/article_pic.gif" width="122" height="86" alt="" /></div>
    <div class="content">Local thinset and grout manufacturer, Micro Milling Ltd., created history when it hosted a custom training workshop conducted by the NTCA.</div>
    <div class="read_more"><a href="/img/ad.gif" class="news"><img src="/img/button_read_more.gif" width="87" height="22" alt="Read More" /></a></div>
  </div>
  <div class="article">
    <div class="title">New Convenient 5LB Sacks</div>
    <div class="pic"><img src="/img/article_pic.gif" width="122" height="86" alt="" /></div>
    <div class="content">Our wide range of Tile grouts are now available in convenient 5LB sacks</div>
    <div class="read_more"><a href="/img/5lb-sack.jpg" class="news"><img src="/img/button_read_more.gif" width="87" height="22" alt="Read More" /></a></div>
  </div>
  <div class="article">
    <div class="title">Increased Product Testing and R&D</div>
    <div class="pic"><img src="/img/article_pic.gif" width="122" height="86" alt="" /></div>
    <div class="content">We have upgraded our internal lab with the latest equipment</div>
    <div class="read_more"><a href="/test2.html" class="news"><img src="/img/button_read_more.gif" width="87" height="22" alt="Read More" /></a></div>
  </div>
  <div class="article">
    <div class="title">New Grout Plant Complete</div>
    <div class="pic"><img src="/img/article_pic.gif" width="122" height="86" alt="" /></div>
    <div class="content">With our new grout plant now complete, we curently offer 25 colours of Sanded Tile Grout.</div>
    <div class="read_more"><a href="/test.html" class="news"><img src="/img/button_read_more.gif" width="87" height="22" alt="Read More" /></a></div>
  </div>
</div>