---
layout: false
---
<div class="popup_title">Empresa familiar prepara la base del éxito</div>
<img src="/img/sanded_thinset.jpg">
<p>Robert de Verteuil es uno de los Directores en MicroMilling Ltd junto con su padre, Maurice y hermano, Gregory. Micro Milling Ltd es una empresa familiar con sede en Trinidad que fabrica mezclas de arena/cementos para la construcción, edificación de casa y sectores de contratistas. Micro Milling surgió de la empresa de procesado de arena que fundó el padre de Verteuil en 1974. En ese momento, la empresa original fabricaba diferentes tipos de arena que se usaban para algunas aplicaciones del campo del petróleo, filtración de agua, o se vendían a otras empresas que usaban la arena cruda para sus propias mezclas. Además, antes de que la escoria del carbón se volviese un producto más usado, la arena de la empresa también se usaba para retirar el óxido de barcos y plataformas petrolíferas mediante arena a presión.<br />
<br />
De Verteuil relata la evolución de Micro Milling hasta la empresa en la que se ha convertido hoy en día: “Teníamos una gran cantidad de experiencia con la arena y la graduación de la arena, y estuvimos hablando con unos expertos europeos sobre las mezclas – nunca habíamos realizado una mezcla antes. Empezamos a hacer algunas pruebas con arena de mezclas y cemento, junto con algunos aditivos y así es como creamos nuestros productos. En ese momento, habían otros dos productores locales – estaba fabricando buenos productos, pero creímos que aplicando énfasis a la calidad y un buen servicio, podríamos entrar en ese mercado. Y así es como se formó Micro Milling.”
<br />
<br />
Cuando la nueva empresa comenzó en 1995, sólo tenía un producto – argamasa regular, que es la que se usa para la instalación de azulejos de cerámica, baldosas, adoquines de ladrillo, baldosas de arcilla y baldosas de hormigón – una única planta, y unos cinco empleados. Hoy, más de 50 empleados de Micro Milling y tres plantas fabrican los siguientes productos: Argamasa Regular y Premium (Blanca y Gris), Lechada para Azulejos Con o Sin Arena en una gran variedad de colores, Mezclas de Yeso, Mezclas de Hormigón, y Piedra Arenisca, que se usan como material de acabado sobre los enlucidos, ladrillos o superficies de hormigón. Los productos de la empresa de venden a lo largo de toda Trinidad, así como Guyana, Barbados, Granada, Santa Lucía, Dominica y Antigua.<br />
<img src="/img/thinset1.jpg"><br />
<img src="/img/plaster_mix.jpg"><br />
Micro Milling obtiene su arena en crudo de las canteras de la isla y su cemento de Trinidad Cement Ltd. Luego realiza toda la fabricación. No vente ninguno de sus productos de manera directa a los consumidores, en su lugar, se respalda en las tiendas de bricolaje o de azulejos para su distribución. Ellos, de hecho, actúan como la fuerza de ventas de la empresa.<br /><br />
De Verteuil explica cómo es el compromiso de la empresa para dar servicio a los usuarios de sus productos tiene un papel en sus operaciones cotidianas. “También tenemos una buena relación con los fabricantes de baldosas. Trinidad no es un lugar muy grande. Conocemos a algunos de los contratistas de baldosas más importantes del mercado. Nos mantenemos atento a la opinión de los clientes y nos aseguramos de que están contentos con nuestro producto. Si no están satisfechos, digamos por, la manera en la que se seca, si se seca demasiado rápido, o demasiado lento, si no es lo suficientemente pegajoso, si no les gusta el empaquetado – escuchamos esas opiniones que están usando el producto. Creo que eso es muy importante.”<br /><br />
De Verteuil clarifica más detalladamente que es lo que separa a Micro Milling de la competencia: “Nos concentramos muchísimo en la calidad. Dedicamos un poco más de tiempo, esfuerzo y dinero para crear nuestro propio laboratorio interno hacer un par de años. Tenía todo el moderno equipamiento necesario capaz de realizar todas las pruebas relacionadas con todos los estándares que cumplen nuestros productos. Normalmente, lo que hacen las empresas es enviar sus productos a los Estados Unidos – hay un lugar llamado “Tile Council” y realizan pruebas de estándares ANSI (Instituto Nacional Americano de Estándares en inglés). Este proceso puede tardar hasta tres meses antes de recibir los resultados… pero nosotros hacemos todas nuestras pruebas. Las enviamos a los Estados Unidos para verificar que nuestros resultados son correctos, pero en mayor medida es para asegurar nuestra calidad.”
<br /><br />
En su búsqueda constante de ese gran nivel de calidad, Micro Milling ha organizado un taller de formación, el último año, en el Royal Hotel en San Fernando, Trinidad, llevado a cabo por la National Tile Contractors Association, Inc. (NTCA), la mayor asociación de profesionales de baldosas del mundo, con más de 1,000 miembros. Orientada en principio hacia los profesionales y contratistas locales, fueron aproximadamente unos 50 profesionales y distribuidores. El taller cubrió una gran variedad de temas, desde la preparación de los sustratos hasta la lechada. El taller fue un éxito tan importante, que Verteuil espera ser anfitrión de otros eventos similares en el futuro..<br /><br />
¿Cómo se mantiene Micro Milling por delante de la curva? “En nuestro tipo de negocio, cuando se trata de plantas y maquinaria, las actualizaciones son una cosa constante, algo siempre a tener en cuenta. Cualquier cosa que mejore nuestros procesos, o mejore nuestro servicio de cara a los clientes – es algo que nunca para. Durante los últimos tres o cuatro años hemos hecho una gran cantidad de mejoras. Hemos construido una nueva planta de argamasa y una nueva planta de lechada. Hemos aumentado nuestra capacidad a un nivel dónde podemos buscar de manera activa nuevos mercados para exportar y cómodos proveyendo de servicio a Trinidad.” Además, la empresa ha añadido algunas nuevas líneas de productos, como la mezcla de yeso o la mezcla de hormigón. También hemos empezado a ofrecer bolsas de cinco libras de argamasa, más pequeñas y cómodas, para los manitas del hogar.
<br /><br />
Aunque a de Verteuil le gustaría expandir el rango de exportaciones de la empresa, es consciente de las restricciones particulares que imponen sus productos: “Por ejemplo, cómo es un producto muy pesado, no puedo competir con Florida. No puedo enviar producto a Florida y ser competitivo con esa gente que fabrica el producto ahí mismo. Así que, por ahora, mi área son los países caribeños de habla inglesa, pero veo posible, en un futuro cercano, que nos adentremos en algunas de las islas que hablan francés y español.”<br /><br />
Mientras Micro Milling Ltd. crece, añadiendo más variedad a sus líneas de productos, y ampliando sus mercados, será capaz de seguir creciendo sobre sus 20 años de historia de proporcionar servicios de calidad a sus clientes. Después de todo, ya ha preparado la base para su éxito.
<br /><br />
<img src="/img/thinset2.jpg"><br />
<img src="/img/thinset3.jpg"><br />
VENDEDORES PREFERIDOS<br />
Caribbean Shipping Agencies Ltd. <br />
www.csaship.com
</p>
<script type="text/javascript"> Cufon.refresh(); </script> 