---
title: Thinset | Tile Grout | Sandstone Render | Plaster Mix | Trinidad &amp; Tobago

metaDescription:

metaKeywords:

slug: index
date: 2016-09-13 21:22:54
layout: contact
language: es
---
<script language="javascript" type="text/javascript">
  swfobject.params = {
      menu: "false",
      wmode: "transparent"    
  };

  swfobject.attributes = {
      id: "flash"
  };
  swfobject.embedSWF("/swf/es/homepage.swf", "flash", "994", "292", "9.0.0", "/swf/es/expressInstall.swf", swfobject.flashvars, swfobject.params, swfobject.attributes);
</script>
<div id="flash"><img src="/img/homepage.png" width="994" height="292" alt="" /></div>
<div id="home_bottomarea" style="background: url(../img/es/bg_home_bottomarea.png);">
  <!-- Let's read the directory but only the home_product_ images. --> 
     
     
  <!-- Display the image -->
  <div id="featured_product"><a href="/es/tile_grout"><img src="/img/home_product_tile_grout.gif" width="298" height="135" alt="" /></a><a href="/es/tile_grout" class="button"></a></div>
  <div id="latest">
    <div class="post">
        <h1>MICRO MILLING LTD. ACOGE UN TALLER NTCA HISTÓRICO</h1>
        <p>Fabricante local de argamasa y masa para alicatado, Micro Milling Ltd., hizo historia cuando acogió un taller de formación personalizada dirigido por la NTCA. <a href="/img/ad.gif" class="news">Leer Más</a></p>
        <a href="/es/news" class="button"></a>
    </div>
  </div>
  <div id="google_map"><a href="/es/contact"><img src="/img/google_map2.png" width="319" height="127" alt="" /></a><a href="/es/contact" class="button"></a></div>
</div>