---
layout: false
---
<div class="popup_title">NUEVAS MEZCLAS DE PLASTER Y DE HORMIGÓN</div>
<p>Nuestros productos ahora incluyen mezclas de plaster y mezclas de hormigón equipadas para hacer que las labores de los albañiles sean más fáciles con mezclas consistentes y de calidad.</p>
<script type="text/javascript"> Cufon.refresh(); </script> 