---
layout: false
---
<div class="popup_title">AHORA DISPONIBLES NUEVOS COLORES DE GROUT</div>
<p>Debido a la demanda popular, nuestra selección de productos de masilla ahora incluye 3 increíbles nuevos colores; Antique, Sun Glow y Sea Shell. Disponibles en sacos tanto de 25lb como de 5lb.<br />
<br />
Contacta con tu ferretería local para saber su disponibilidad hoy.</p>
<script type="text/javascript"> Cufon.refresh(); </script> 