---
title: NOS PRODUITS

metaDescription:

metaKeywords:

slug: products
date: 2016-09-13 21:22:54
layout: main
sidebar:
  pages:
    thin_set:
      lang_key: products.sidebar.pages.thin_set
    premium_thin_set:
      lang_key: products.sidebar.pages.premium_thin_set
    plaster_mix:
      lang_key: products.sidebar.pages.plaster_mix
    tile_grout:
      lang_key: products.sidebar.pages.tile_grout
    concrete_mix:
      lang_key: products.sidebar.pages.concrete_mix
    sandstone_render:
      lang_key: products.sidebar.pages.sandstone_render
language: fr
---
<div id="content">
  <div id="page_header">NOS PRODUITS</div>
  <p>Nos produits incluent maintenant les PLASTER MIX (mélange de plâtre) et de CONCRETE MIX (mélange de béton) qui rendent les travaux des entrepreneurs plus facile surtout avec des mélanges conformes et de qualité.</p><div class="product">
  <div class="title_side title_side_blue"></div>
  <div class="title title_blue">THINSET ORDINAIRE (COULEUR BLANC ET GRIS DISPONIBLES)</div>
  <div class="pic"><img src="/img/products_thin_set.gif" width="167" height="225" alt="Thin Set" /></div>
  <div class="description">
    <p>Micro Milling THINSET sont maintenant disponibles en Guyane. Après les "excellent avis "des entrepreneurs locaux, TCL Guyane distribue désormais à l'échelle nationale.</p>
      <ul style="width: 500px; margin-top: 0px;">
        <li>Dépasse les exigences de ANSI A118.1</li>
        <li>Facilité d'application</li>
        <li>Excellente maniabilité</li>
        <li>Forte attention avec le temps de travail optimal pour compléter les compétences du carreleur</li>
        <li>Fabriqué sous des contrôles stricts et assure l'uniformité et la qualité</li>
        <li>Spécialement formulé pour les applications dans les climats chauds.</li>
        <li>Pour les installations intérieures et extérieures</li>
        <li>Pour les murs ou les planchers</li>
        <li>Pour les installations résidentielles ou commerciales.</li>
      </ul>
    </div>
    <div class="view_details"><a href="/fr/thin_set" class="blue">VOIR DETAILS</a></div>
  </div>

  <div class="product">
    <div class="title_side title_side_yellow"></div>
    <div class="title title_yellow">THIN SET PREMIUM (COULEUR BLANC ET GRIS DISPONIBLES)</div>
    <div class="pic"><img src="/img/products_premium_thin_set.gif" width="167" height="225" alt="Premium Thin Set" /></div>
    <div class="description">
      <p>Micro Milling thinset sont maintenant disponible en Guyane. Après les "excellent avis "des entrepreneurs locaux, TCL Guyane distribue désormais à l'échelle nationale.</p>
      <ul style="width: 500px; margin-top: 0px;">
        <li>Polymère modifiable - il suffit d'ajouter de l'eau</li>
        <li>Dépasse les exigences de A118.4 ANSI</li>
        <li>Facilité d'application</li>
        <li>Excellente maniabilité</li>
        <li>Spécialement conçu pour les constructions dans les climats chauds</li>
        <li>Longue durée de vie </li>
        <li>Résistant aux chocs et de l'impact</li>
        <li>Fabriqué sous des contrôles stricts pour assurer la conformité et de la qualité</li>
        <li>Pour les construction intérieures et extérieures</li>
        <li>Pour les murs, les sols ou les plafonds</li>
        <li>Pour les construction résidentielles ou commerciales</li>
        <li>Meilleur performance pour les carreaux les plus difficiles à poser, les supports et les conditions</li>
        <li>Excellente adhérence extérieur, contreplaqué (intérieur seulement)</li>
      </ul>
    </div>
    <div class="view_details"><a href="/fr/premium_thin_set" class="yellow">VOIR DETAILS</a></div>
  </div> 
  <div class="product">
    <div class="title_side title_side_green"></div>
    <div class="title title_green">TILE GROUT (DISPONIBLE EN 24 COULEURS DIFFERENT)</div>
    <div class="pic-tile-grout"><img src="/img/grout_25-5.gif" width="167" height="485" alt="Tile Grout" /></div>
    <div class="description">
      <p>Notre large gamme de joint de carrelage est maintenant disponibles dans des sacs pratiques de 5 LB.</p>
      <p style="margin-top: 0px;"><strong>Joint avec sable</strong></p>
      <ul style="margin-top: 0px;">
        <li>Dépasse les exigences A118.6 et A118.7 ANSI </li>
        <li>Pour usage intérieur et extérieur</li>
        <li>Pour les joints de carrelage de 1/8 "à 1/2"</li>
        <li>Polymère modifiée - Il suffit d'ajouter de l'eau</li>
        <li>Pour les applications murales, plancher ou plafond</li>
        <li>Aide à repousser la plupart des taches, les saletés et les crasse avec ses caractéristiques de perlage de l’eau</li>
        <li>Est durable pour la circulation résidentielle et / ou commercial</li>
        <li>Est emballé dans des sacs pratiques de 25lb </li>
      </ul>
      <p style="margin-top: 0px;"><strong>Joint sans salbe</strong></p>
      <ul style="margin-top: 0px;">
        <li>Dépasse les exigences A118.6 et A118.7 ANSI </li>
        <li>Pour usage intérieur et extérieur</li>
        <li>Pour les joints de carrelage de 1/8 "à 1/2"</li>
        <li>Polymère modifiée - Il suffit d'ajouter de l'eau</li>
        <li>Pour les applications murales, plancher ou plafond</li>
        <li>Aide à repousser la plupart des taches, les saletés et les crasse avec ses caractéristiques de perlage de l’eau</li>
        <li>Est durable pour la circulation résidentielle et / ou commercial</li>
        <li>Est emballé dans des sacs pratiques de 25lb</li>
      </ul>
    </div>
    <div class="view_details"><a href="/fr/tile_grout" class="green">VOIR DETAILS</a></div>
    <p>&nbsp;</p>
  </div>
  <div class="product">
    <div class="title_side title_side_red"></div>
    <div class="title title_red">PLASTER MIX (MELANGE DE PLÂTRE)</div>
    <div class="pic"><img src="/img/products_plaster_mix.gif" width="167" height="225" alt="Plaster Mix" /></div>
    <div class="description">
      <ul style="width: 500px; margin-top: 0px;">
        <li>Facilité d'application (excellente maniabilité)</li>
        <li>Produit de longue durée de vie</li>
        <li>Alternative efficace au emplacement pour le mélange-moins de gaspillage en raison de ne pas avoir de charge sur place</li>
        <li>Fabriqués pour assurer un parfaite consistance- élimine les risques de dosage dans le chantier (sable tamisé permet la finition lisse et uniforme)</li>
        <li>Rationalise et améliore avancement de la construction</li>
        <li>Une plus grande productivité de plâtrage est produite en moins de temps</li>
        <li>Les fibres assurent le renforcement en traction et d'améliorer la performance élastique</li>
      </ul>
    </div>
    <div class="view_details"><a href="/fr/plaster_mix" class="red">VOIR DETAILS</a></div>
  </div>
  <div class="product">
    <div class="title_side title_side_green2"></div>
    <div class="title title_green2">CONCRETE MIX (BETON)</div>
    <div class="pic"><img src="/img/products_concrete_mix.gif" width="167" height="225" alt="Concrete Mix" /></div>
    <div class="description">
      <p>Prêt à l'emploi mélange de sable, agrégats fins et de ciment, idéal pour réparer le béton, la mise en poteaux, coulée allées, les trottoirs et les marches.</p>
      <ul style="width: 500px; margin-top: 0px;">
        <li>Résistance à la compression</li>
        <li>7-jours - 3000 PSI</li>
        <li>28-jours - 4000 PSI</li>
      </ul></div>
      <div class="view_details"><a href="/fr/concrete_mix" class="green2">VOIR DETAILS</a></div>
  </div>
  <div class="product">
    <div class="title_side title_side_brown"></div>
    <div class="title title_brown">SANDSTONE RENDER (disponible en corail granuleux et en corail fine)</div>
    <div class="pic"><img src="/img/products_sandstone_render.gif" width="167" height="225" alt="Sandstone Render" /></div>
    <div class="description">
      <ul style="width: 500px; margin-top: 0px;">
        <li>Faible entretien</li>
        <li>Résistant et extrêmement durable de l'eau, peut être lavé sous pression</li>
        <li>De nombreuses possibilités de design</li>
        <li>Fabriqués pour assurer la cohérence, l'élimination du risque site batching</li>
        <li>Finition naturelle Attractive peinture requise</li>
        <li>Peut sauver la main-d'œuvre et d'éliminer le gaspillage sur le site de ne pas avoir à lot sur place</li>
      </ul></div>
      <div class="view_details"><a href="/fr/sandstone_render" class="brown">VOIR DETAILS</a></div>
  </div>
</div>
