---
title: Contact Us | Serving Trinidad Tobago | Caribbean Contractors

metaDescription: Micro Milling LTD welcomes customers new and old to stop by our facilities in Point-a-Pierre at the Plaisance Park Industrial Estate where we can show you the variety of quality products of thinset, grout, sandstone render and plaster mix you are looking for. We have been serving customers since 1974 and are committed to continue to grow and diversify our products to meet your needs

metaKeywords: Micro milling, sand processing, cement blocks, cement, trinidad, tobago, caribbean, TTMA, NTCA, tile, Thinset, Grout, Sandstone Render, Plaster Mix, Trinidad and Tobago Manufacturers Association, National Tile Contractors Association, concrete, mortar mix, cement, concrete repair products, stucco, waterproofing, tile setting, blacktop products, thin set, floor underlayment, sand, aggregates, masonry, Micro Milling LTD, Plaisance Park Industrial Estate, Point-a-Pierre, Trinidad

slug: tile_grout
date: 2016-09-13 21:22:54
layout: contact
language: en
---
<div id="content_wide">
  <div id="page_header">Contact Us</div>
  <div id="form">
    <form method="post" id="contact_form" onsubmit="contactFormSubmit(event);">
      <div class="field"><span>Type</span><select name="Type"><option value="General Inquiry">General Inquiry</option><option value="Sales">Sales</option></select></div>
      <div class="field"><span>Name</span><input type="text" name="Name" /></div>
      <div class="field"><span>Email</span><input type="text" name="Email" /></div>
      <div class="field"><span>Company</span><input type="text" name="Company" /></div>
      <div class="field"><span>Telephone</span><input type="text" name="Telephone" /></div>
      <div class="field"><span>Country</span><select name="Country"><option>Select Country</option><option value="Trinidad and Tobago">Trinidad and Tobago</option></select></div>
      <div class="field"><span>Message</span><textarea name="Message"></textarea></div>
      <div class="field"><span>&nbsp;</span><input type="image" src="/img/en/button_submit.gif" /></div>
      <div class="status-message"></div>
    </form>
  </div>
  <div id="address">
    <div style="float: left; width: 250px;">
      <p style="margin-top: 0px;"><strong>Mailing Address:</strong><br />
        Claxton Bay P.O. Box 4235<br />
        Plaisance Park Industrial Estate<br />
        Point-a-Pierre,<br />
        Trinidad
      </p>
      <p><strong>Phone:</strong> (868) 659-4060<br />
      <strong>Fax:</strong> (868) 659-4057</p>
      
      <p><strong>Email:</strong><br />
      General: <a href="mailto:info@micromilling.com">info@micromillingtt.com</a><br />
      Sales: <a href="mailto:sales@micromilling.com">sales@micromillingtt.com</a>
    </div>
    <div style="float: right; width: 305px;"><iframe width="294" height="240" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=204494550503034938140.00049f00dafb4d9fb097c&t=h&source=embed&ll=10.336956,-61.459574&spn=0,0&output=embed" style="float: right; padding: 0px 11px 0px 0px;"></iframe></div>
    <div class="contact_img clear"><a href="/img/contact_img1_lg.jpg" rel="shadowbox"><img src="/img/contact_img1.jpg" width="173" height="130" /></a></div>
    <div class="contact_img"><a href="/img/contact_img2_lg.jpg" rel="shadowbox"><img src="/img/contact_img2.jpg" width="173" height="130" /></a></div>
    <div class="contact_img"><a href="/img/contact_img3_lg.jpg" rel="shadowbox"><img src="/img/contact_img3.jpg" width="173" height="130" /></a></div>
  </div>
</div>