---
title: PERFIL DE LA EMPRESA

metaDescription:

metaKeywords:

slug: company
date: 2016-09-13 21:22:54
layout: main
sidebar:
  pages:
    company:
      lang_key: company.sidebar.pages.company
    committment:
      lang_key: company.sidebar.pages.committment
language: es
---
<div id="content">
  <div id="page_header">PERFIL DE LA EMPRESA</div>
  <div id="company_pic"><img src="/img/company_pic.jpg" width="653" height="152" alt="The Company" /></div>
  <p class="clear">Nuestra aventura inicial empezó en 1974 con un negocio de procesado de arena. Con 20 años de experiencia en el negocio de la arena y asesoramiento de expertos europeos, el negocio progresó exitosamente hacia las mezclas de arena/cemento y así es como se fundó en 1995 Micro Milling Ltd.</p>
  <p>Iniciamos la empresa con una única planta, un producto y alrededor de cinco empleados. Desde entonces, a través de investigación y desarrollo constante, Micro Milling Ltd ahora fabrica la siguiente selección de productos: Thinset, Grout, Sandstone Render y Plaster Mix. Desde ahí, la empresa se ha expandido hasta adquirir dos plantas más con una capacidad adecuada para suministrar tanto al mercado local, como el caribeño.</p> 
  <p>Somos un negocio familiar, con operaciones prácticas, dedicadas a proporcionar a nuestros clientes un servicio de calidad. Como miembros de la TTMA (Asociación de Fabricantes de Trinidad y Tobago en inglés) y la NTCA (Asociación Nacional de Contratistas de Alicatado), continuamos creciendo mientras nos centramos en añadir una mayor diversidad a nuestra selección y a expandir nuestros mercados.</p>
</div>