body, html {
	margin: 0px;
	padding: 0px;
	background-image: url("../img/bg.gif");
	background-repeat: repeat;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}

a {
	text-decoration: underline;
	color: #4145a6;
}

a:hover {
	text-decoration: none;
}

img {
	border: 0px;
}

.clear {
	clear: both;
}

.float_left {
	float: left;
}

.float_right {
	float: right;
}

#outter_container {
	width: 1051px;
	margin: 0px auto;
}

#container {
	float: left;
	width: 1009px;
	border: 5px solid #4145a6;
	border-top: none;
	background-color: #F2F2F2;
}

#menu_side_right {
	float: left;
	width: 32px;
	height: 82px;
	background-image: url("../img/menu_side_right.png");
	background-repeat: no-repeat;
	position: relative;
	top: 61px;
	left: -9px;
}

#header {
	float: left;
	width: 1000px;
	height: 173px;
	background-image: url("../img/bg_header.gif.png");
	background-repeat: repeat-x;
	margin: 9px 0px 0px 5px;
	position: relative;
}

#header #logo {
	float: left;
	width: 274px;
	height: 89px;
	position: relative;
	top: 36px;
	left: 21px;
}

#header #menu {
	float: right;
	width: 677px;
	/*width: 538px;*/
	height: 73px;
	margin: 0px;
	padding: 0px;
	list-style: none;
	background-image: url("../img/bg_menu.gif");
	background-repeat: repeat-x;
	position: relative;
	top: 48px;
}

#header #menu li#menu_side_left,
#header #menu li#the_company,
#header #menu li#our_products,
#header #menu li#news,
#header #menu li#projects,
#header #menu li#contact {
	float: left;
	width: 188px;
	height: 73px;
	position: relative;
}

#header #menu li#menu_side_left {
	width: 27px;
}

#header #menu li#our_products {
	width: 194px;
}

#header #menu li#news {
	width: 139px;
}

#header #menu li#projects {
	width: 138px;
}

#header #menu li#contact {
	width: 128px;
}

#header #menu .active {
	display: none;
}

img.menu_original {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10;
}

img.menu_over {
	position: absolute;
	left: 0;
	top: 0;
}

#body {
	float: left;
	padding: 8px 0px 0px 0px;
	position: relative;
}

#flash {
	float: left;
	width: 994px;
	margin: 0px 0px 0px 10px;
}

#home_bottomarea {
	float: left;
	width: 985px;
	height: 234px;
	background-image: url("../img/bg_home_bottomarea.png");
	margin: 8px 0px 0px 10px;
}

#home_bottomarea #featured_product {
	float: left;
	width: 311px;
	height: 180px;
	padding: 50px 0px 0px 15px;
	position: relative;
}

#home_bottomarea #featured_product a.button,
#home_bottomarea #latest a.button,
#home_bottomarea #google_map a.button {
	clear: both;
	position: absolute;
	bottom: 8px;
	left: 7px;
	width: 318px;
	height: 28px;
}

#home_bottomarea #latest {
	float: left;
	width: 318px;
	height: 172px;
	margin: 35px 0px 0px 7px;
}

#home_bottomarea #latest .post {
	float: left;
	width: 308px;
	height: 163px;
	padding: 20px 5px 5px 5px;
	position: relative;
}

#home_bottomarea #latest .post h1 {
	font-size: 20px;
	font-weight: bold;
	margin: 0px;
	padding: 0px;
	color: #171a7b;
	text-transform: uppercase;
}

#home_bottomarea #latest .post p {
	font-size: 14px;
	margin: 10px 0;
}

#home_bottomarea #latest .post .read_more {
	float: left;
	width: 87px;
	height: 22px;
	position: absolute;
	bottom: 2px;
	right: 2px;
}

#home_bottomarea #google_map {
	float: left;
	width: 321px;
	height: 180px;
	margin: 50px 0px 0px 7px;
	position: relative;
}#home_bottomarea #google_map a.button,
#home_bottomarea #latest a.button {
	left: 0px;
}

#home_bottomarea #latest a.button {
	bottom: 0px;
}

#content, .sidebar, #content_wide {
	float: left;
	width: 694px;
	border: 1px solid #e5e5e5;
	background-color: #FFF;
	padding: 20px;
	position: relative;
}

#sidebar_box {
	float: left;
	width: 231px;
	margin: 0px 25px 0px 10px;
}

.sidebar {
	width: 231px;
	height: auto;
	padding: 9px 0px 0px 0px;
}

#content_wide {
	width: 946px;
	margin: 0px 0px 0px 10px;
}

.sidebar_left {
	float: left;
	width: 19px;
	height: 62px;
	background-image: url("../img/sidebar_left.png");
	background-repeat: no-repeat;
	position: absolute;
	top: 9px;
	left: -19px;
}

.sidebar_right {
	float: left;
	width: 13px;
	height: 13px;
	background-image: url("../img/sidebar_right.gif");
	position: relative;
	top: 39px;
	margin: 0px 4px 0px 0px;
}

.sidebar ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.sidebar ul li a {
	width: 194px;
	float: left;
	padding: 10px 5px 5px 32px;
	color: #171a7b;
	font-size: 18px;
	text-transform: uppercase;
	background-image: url("../img/sidebar_arrow.png");
	background-position: 15px 10px;
	background-repeat: no-repeat;
	text-decoration: none;
}

.sidebar ul li a:hover, 
.sidebar ul li a.active {
	background-color: #dfdfec;
}

.sidebar ul#other_products li {
	float: left;
	margin: 5px 0px 5px 0px;
}

.sidebar ul#other_products li a {
	float: left;
	width: 216px;
	height: 21px;
	padding: 8px 0px 0px 15px;
	color: #FFF;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
	background-position: 0px 0px;
}

.sidebar ul#other_products li a:hover {
	background: none;
}

.sidebar ul#other_products li a.blue {
	background-image: url("../img/bg_view_details_blue.gif");
	background-repeat: repeat-x;
}

.sidebar ul#other_products li a.yellow {
	background-image: url("../img/bg_view_details_yellow.gif");
	background-repeat: repeat-x;
}

.sidebar ul#other_products li a.red {
	background-image: url("../img/bg_view_details_red.gif");
	background-repeat: repeat-x;
}

.sidebar ul#other_products li a.green {
	background-image: url("../img/bg_view_details_green.gif");
	background-repeat: repeat-x;
}

.sidebar ul#other_products li a.brown {
	background-image: url("../img/bg_view_details_brown.gif");
	background-repeat: repeat-x;
}

.sidebar ul#other_products li a.green2 {
	background-image: url("../img/bg_view_details_green2.gif");
	background-repeat: repeat-x;
}

#content #page_header,
#content_wide #page_header {
	font-size: 24px;
	color: #1a1d7e;
	text-transform: uppercase;
	padding: 0px 0px 10px 0px;
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 0;
}

#content #company_pic {
	float: left;
	border: 3px solid #e5e5e5;
	margin: 0px 0px 20px 0px;
}

#content p {
	font-size: 15px;
	line-height: 18px;
}

#content .article {
	float: left;
	min-height: 99px;
	width: 640px;
	padding: 0px 10px 0px 10px;
	background-image: url("../img/bg_article.gif");
	background-repeat: repeat-x;
	background-position: bottom;
	padding: 20px 10px 20px 10px;
	font-size: 14px;
}

#content .article .title {
	font-size: 18px;
	color: #1a1d7e;
	text-transform: uppercase;
	font-weight: bold;
	padding: 0px 0px 10px 0px;
}

#content .article .pic {
	float: left;
	width: 122px;
	height: 86px;
	margin: 0px 10px 10px 0px;
	display: none;
}

#content .article .content {
	float: left;
	width: 500px;
	padding: 0px 0px 15px 0px;
}

#content .article .full_article,
#content .article .read_more {
	float: left;
	clear: both;
}

#content .article .full_article a {
	float: left;
	width: auto;
	height: 29px;
	background-image: url("../img/bg_button.gif");
	background-repeat: repeat-x;
	padding: 0px 15px 0px 15px;
	color: #FFF;
	text-decoration: none;
	line-height: 29px;
	text-transform: uppercase;
}

#content .product {
	float: left;
	height: auto;
	position: relative;
	margin: 0px 0px 30px 0px;
}

#content .product p,
#content .product ul {
	float: left;
	width: 690px;
}

#content .product ul {
	padding-left: 20px;
}

#content .product .title_side {
	float: left;
	width: 37px;
	height: 57px;
	position: absolute;
	top: 2px;
	left: -37px;
}

#content .product .title_side_blue {
	background-image: url("../img/bg_product_side_title_blue.gif");
	background-repeat: repeat-x;
}

#content .product .title_side_yellow {
	background-image: url("../img/bg_product_side_title_yellow.gif");
	background-repeat: repeat-x;
}

#content .product .title_side_red {
	background-image: url("../img/bg_product_side_title_red.gif");
	background-repeat: repeat-x;
}

#content .product .title_side_green {
	background-image: url("../img/bg_product_side_title_green.gif");
	background-repeat: repeat-x;
}

#content .product .title_side_green2 {
	background-image: url("../img/bg_product_side_title_green2.gif");
	background-repeat: repeat-x;
}

#content .product .title_side_brown {
	background-image: url("../img/bg_product_side_title_brown.gif");
	background-repeat: repeat-x;
}

#content .product .title {
	float: left;
	width: 714px;
	height: 30px;
	font-size: 24px;
	color: #FFF;
	/*text-transform: uppercase;*/
	padding: 16px 0px 0px 0px;
}

#content .product .title_blue {
	background-image: url("../img/bg_product_title_blue.gif");
	background-repeat: repeat-x;
}

#content .product .title_yellow {
	background-image: url("../img/bg_product_title_yellow.gif");
	background-repeat: repeat-x;
}

#content .product .title_red {
	background-image: url("../img/bg_product_title_red.gif");
	background-repeat: repeat-x;
}

#content .product .title_green {
	background-image: url("../img/bg_product_title_green.gif");
	background-repeat: repeat-x;
}

#content .product .title_green2 {
	background-image: url("../img/bg_product_title_green2.gif");
	background-repeat: repeat-x;
}

#content .product .title_brown {
	background-image: url("../img/bg_product_title_brown.gif");
	background-repeat: repeat-x;
}

#content .product .pic {
	float: left;
	width: 167px;
	height: 225px;
	border: 1px solid #e6e5e7;
	border-top: none;
	margin: 0px 10px 0px 0px;
}

#content .product .pic-tile-grout {
	float: left;
	width: 167px;
	height: 485px;
	border: 1px solid #e6e5e7;
	border-top: none;
	margin: 0px 10px 0px 0px;
}

#content .product .description {
	float: left;
	width: 500px;
	padding: 20px 10px 20px 10px;
}

#content .product .view_details {
	float: left;
	position: absolute;
	bottom: 0px;
	left: 185px;
}

#content .product .view_details a {
	float: left;
	width: auto;
	height: 25px;
	padding: 8px 15px 0px 15px;
	color: #FFF;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}

#content .product .view_details a.blue {
	background-image: url("../img/bg_view_details_blue.gif");
	background-repeat: repeat-x;
}

#content .product .view_details a.yellow {
	background-image: url("../img/bg_view_details_yellow.gif");
	background-repeat: repeat-x;
}

#content .product .view_details a.red {
	background-image: url("../img/bg_view_details_red.gif");
	background-repeat: repeat-x;
}

#content .product .view_details a.green {
	background-image: url("../img/bg_view_details_green.gif");
	background-repeat: repeat-x;
}

#content .product .view_details a.brown {
	background-image: url("../img/bg_view_details_brown.gif");
	background-repeat: repeat-x;
}

#content .product .view_details a.green2 {
	background-image: url("../img/bg_view_details_green2.gif");
	background-repeat: repeat-x;
}

#content .product .sub_title_box {
	float: left;
	min-width: 160px;
	position: relative;
	left: -20px;
}

#content .product .sub_title_box .sub_title {
	float: left;
	min-width: 155px;
	height: 23px;
	font-size: 18px;
	color: #FFF;
	text-transform: uppercase;
	padding: 8px 10px 0px 5px;
}

#content .product .sub_title_box .sub_title_blue {
	background-image: url("../img/bg_sub_header_blue.gif");
	background-repeat: repeat-x;
}

#content .product .sub_title_box .sub_title_yellow {
	background-image: url("../img/bg_sub_header_yellow.gif");
	background-repeat: repeat-x;
}

#content .product .sub_title_box .sub_title_red {
	background-image: url("../img/bg_sub_header_red.gif");
	background-repeat: repeat-x;
}

#content .product .sub_title_box .sub_title_green {
	background-image: url("../img/bg_sub_header_green.gif");
	background-repeat: repeat-x;
}

#content .product .sub_title_box .sub_title_brown {
	background-image: url("../img/bg_sub_header_brown.gif");
	background-repeat: repeat-x;
}

#content .product .sub_title_box .sub_title_green2 {
	background-image: url("../img/bg_sub_header_green2.gif");
	background-repeat: repeat-x;
}

#content .product .sub_title_box .sub_title_side {
	float: left;
	width: 15px;
	height: 44px;
	position: absolute;
	top: 0px;
	left: -15px;
}

#content .product .sub_title_box .sub_title_side_blue {
	background-image: url("../img/bg_sub_header_side_blue.gif");
	background-repeat: repeat-x;
}

#content .product .sub_title_box .sub_title_side_yellow {
	background-image: url("../img/bg_sub_header_side_yellow.gif");
	background-repeat: repeat-x;
}

#content .product .sub_title_box .sub_title_side_red {
	background-image: url("../img/bg_sub_header_side_red.gif");
	background-repeat: repeat-x;
}

#content .product .sub_title_box .sub_title_side_green {
	background-image: url("../img/bg_sub_header_side_green.gif");
	background-repeat: repeat-x;
}

#content .product .sub_title_box .sub_title_side_brown {
	background-image: url("../img/bg_sub_header_side_brown.gif");
	background-repeat: repeat-x;
}

#content .product .sub_title_box .sub_title_side_green2 {
	background-image: url("../img/bg_sub_header_side_green2.gif");
	background-repeat: repeat-x;
}

#content .product #product_pics {
	float: left;
	clear: both;
}

#content .product #product_pics img.blue {
	border: 3px solid #4145a6;
	margin: 0px 12px 0px 0px;
}

#content .product #product_pics img.yellow {
	border: 3px solid #f4f32e;
	margin: 0px 12px 0px 0px;
}

#content .product #product_pics img.red {
	border: 3px solid #a41328;
	margin: 0px 12px 0px 0px;
}

#content .product #product_pics img.green {
	border: 3px solid #1a5726;
	margin: 0px 12px 0px 0px;
}

#content .product #product_pics img.brown {
	border: 3px solid #69251d;
	margin: 0px 12px 0px 0px;
}

#content_wide #form {
	float: left;
	width: 350px;
	border-right: 1px solid #e6e5e5;
}

#content_wide #form .field {
	float: left;
	width: 345px;
	margin: 0px 0px 10px 0px;
}

#content_wide #form .field input, select, textarea {
	float: left;
	width: 150px;
	border: 1px solid #4145a6;
	padding: 3px;
}

#content_wide #form .field textarea {
	width: 200px;
	height: 140px;
}

#content_wide #form .field input[type=image] {
	border: 0px;
	width: 99px;
	height: 29px;
}
#content_wide #form .field span {
	float: left;
	width: 100px;
	padding: 5px 0px 0px 0px;
}

#content_wide #address {
	float: left;
	width: 570px;
	padding: 0px 0px 0px 25px;
}

#recent_projects_side {
	float: left;
	width: 20px;
	height: 61px;
	background-image: url("../img/bg_bar_side.gif");
	background-repeat: no-repeat;
	margin: 0px 0px 0px 10px;
}

#recent_projects {
	float: left;
	width: 921px;
	height: 20px;
	background-image: url("../img/bg_bar.gif");
	background-repeat: repeat-x;
	font-size: 24px;
	color: #FFF;
	text-transform: uppercase;
	padding: 14px 0px 10px 20px;
}

.project {
	float: left;
	width: 940px;
	border: 1px solid #e6e5e5;
	background-color: #FFF;
	position: relative;
	margin: 0px 0px 20px 30px;
}

.project .title {
	float: left;
	width: 730px;
	font-size: 22px;
	color: #1a1d7e;
	text-transform: uppercase;
	padding: 20px 0px 15px 10px;
}

.project .description {
	float: left;
	width: 730px;
	padding: 0px 0px 0px 10px;
}

.project .type {
	float: right;
	width: 190px;
	position: absolute;
	top: -1px;
	right: 0px;
	background-image: url("../img/bg_type.gif");
	background-repeat: repeat-x;
	color: #FFF;
	font-size: 24px;
	text-transform: uppercase;
}

.project .type img {
	float: left;
}

.project .commercial {
	padding: 7px 0px 9px 10px;
}

.project .commercial span {
	float: left;
	padding: 3px 0px 0px 8px;
}

.project .outdoor {
	padding: 5px 0px 15px 10px;
}

.project .outdoor span {
	float: left;
	padding: 5px 0px 0px 8px;
}

.project .residential {
	padding: 9px 0px 11px 10px;
}

.project .residential span {
	float: left;
	padding: 1px 0px 0px 8px;
}

.project .enterprise {
	padding: 7px 0px 10px 10px;
}

.project .enterprise span {
	float: left;
	padding: 3px 0px 0px 8px;
}

.project .type_side {
	float: right;
	background-image: url("../img/bg_type_side.gif");
	background-repeat: no-repeat;
	width: 22px;
	height: 56px;
	position: absolute;
	top: -1px;
	right: -22px;
}

.project .pic {
	float: left;
	width: 910px;
	padding: 15px 0px 30px 30px;
}

.project .pic img {
	float: left;
	width: 141px;
	height: 131px;
	margin: 0px 38px 0px 0px;
	border: 1px solid #e6e5e5;
}.contact_img {
	float: left;
	width: 173px;
	height: 130px;
	border: 4px solid #4145a6;
	margin: 10px 8px 0px 0px;
}

#footer {
	float: left;
	width: 1000px;
	text-align: center;
	color: #16197a;
	font-size: 12px;
	padding: 5px;
}

#content .product .description p, #content .product .description ul {
	width: auto;
}

.status-message {
	font-weight: bold;
	clear: both;
	text-align: center;
}
.fail {
	color: #c00;
}
.success {
	color: green;
}

#home_bottomarea #latest .post h1 { 
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	font-weight: 100;
}
#page_header {
	font-family: 'Anton', sans-serif;
	letter-spacing: 1px;
}
.sidebar ul li a {
	font-family: 'Anton', sans-serif;
	font-size: 17px;
	padding: 5px 5px 7px 32px;
	letter-spacing: 1px;
}
.sidebar.main-sidebar ul li a {
	font-family: 'Source Sans Pro', sans-serif;
}
#content .article .title {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: normal;
}
.project .title {
	font-family: 'Anton', sans-serif;
	letter-spacing: 1px;
}
.project .type {
	font-family: 'Anton', sans-serif;
	letter-spacing: 1px;
}
#recent_projects {
	font-family: 'Anton', sans-serif;
	letter-spacing: 1px;
}
#content .product .title {
	font-family: 'Anton', sans-serif;
	font-size: 23px;
	padding-top: 7px;
	padding-bottom: 9px;
	text-shadow: 2px 2px 3px rgba(0,0,0,.6);
	letter-spacing: 1px;
}
#content .product .sub_title_box .sub_title {
	font-family: 'Anton', sans-serif;
	padding-top: 2px;
	padding-bottom: 8px;
	text-shadow: 2px 2px 3px rgba(0,0,0,.6);
	letter-spacing: 1px;
}
#content .product .view_details a {
	font-family: 'Anton', sans-serif;
	padding-top: 4px;
	cursor: pointer;
	margin-top: 15px;
	letter-spacing: 1px;
}
.sidebar ul#other_products li a {
	font-family: 'Anton', sans-serif;
	padding-top: 3px;
	padding-bottom: 10px;
	letter-spacing: 1px;
	text-shadow: 2px 2px 3px rgba(0,0,0,.6);
}
.popup_title {
	font-family: 'Anton', sans-serif;
	letter-spacing: 1px;
}

.select-language {
	position: absolute;
	right: 20px;
	top: 0;
}
.select-language li {
	display: inline-block;
	margin-left: 12px;
}
.select-language li a {
	display: inline-block;
	width: 33px;
	height: 22px;
}
.select-language-fr a {
	background: url(../img/fr.png) no-repeat;
}
.select-language-es a {
	background: url(../img/es.png) no-repeat;
}
.select-language-en a {
	background: url(../img/en.png) no-repeat;
}