<%- partial('_partial/head') %>
<body>
  <div id="outter_container">
    <div id="container">
      <%- partial('_partial/header', null) %>
      <div class="outer">
        <section id="main"><%- body %></section>

      </div>
      <%- partial('_partial/footer', null) %>
    </div>
    <div id="menu_side_right"></div>
  </div>
  <%- partial('_partial/after-footer') %>
</body>
</html>