---
title: Concrete Mix

metaDescription:

metaKeywords:

slug: concrete_mix
date: 2016-09-13 21:22:54
layout: main
sidebar:
  pages:
    overview:
      href: '#overview'
      lang_key: concrete_mix.sidebar.pages.overview
    tips:
      href: '#tips'
      lang_key: concrete_mix.sidebar.pages.tips
sub_sidebar:
  pages:
    thin_set:
      class: blue
      lang_key: concrete_mix.sub_sidebar.pages.thin_set
    premium_thin_set:
      class: yellow
      lang_key: concrete_mix.sub_sidebar.pages.premium_thin_set
    plaster_mix:
      class: red
      lang_key: concrete_mix.sub_sidebar.pages.plaster_mix
    tile_grout:
      class: red
      lang_key: concrete_mix.sub_sidebar.pages.tile_grout
    sandstone_render:
      class: brown
      lang_key: concrete_mix.sub_sidebar.pages.sandstone_render
language: es
---
<div id="content" style="padding-top: 5px;">
  <div class="product">
    <div class="title_side title_side_green2"></div>
    <div class="title title_green2 sub_title_side_green2" id="overview">Concrete Mix</div>
    <p>Micro Milling Concrete Mix es una mezcla de Arena, Agregados Refinados y Cemento.</p>
    <div class="sub_title_box">
      <div class="sub_title_side sub_title_side_green2"></div>
      <div class="sub_title sub_title_green2" id="tips">CONSEJOS Y USO</div>
    </div>
    <p><strong>USO</strong><br />Reparación de hormigón, colocar postes, anclar mástiles, reparar carreteras, caminos y escalones.</p>
    <p><strong>APLICACIÓN</strong>
    <ul style="margin-top: 0px;">
      <li>Vaciar el contenido en un mezclador mecánico, carretilla o superficie suave no porosa.</li>
      <li>Añadir aproximadamente 3 cuartos de galón americano/saco de 50lbs y mezclar completamente hasta conseguir una consistencia con la que se pueda trabajar.</li>
      <li>Cuando se repare hormigón, quitar todo el material suelto. Humedeciendo las superficies de hormigón adyacentes.</li>
      <li>Colocar el Micro Milling Concrete Mix y aplicar el material en los huecos, luego nivelar la superficie con un borde recto. Permite que el hormigón fresco se asiente durante alrededor de 30 minutos a una hora o hasta que el agua de la superficie haya empezado a desaparecer. Usa una espátula para un acabado suave. Para conseguir una superficie más rugosa usa un cepillo.</li>
      <li>Mantener el material secándose durante varios días. Evitar el tráfico a pie durante 24 horas.</li>
      <li>1 saco de 50 lbs es equivalente a aproximadamente 0.4 pies cúbicos.</li>
    </ul>
    </p>
    <p><strong>LIMPIEZA</strong><br />
    Lavar las manos y herramientas con agua caliente con jabón antes de que se sequen los materiales<br/><br/>
    <strong>PRECAUCIÓN</strong><br />
    Durante el mezclado o aplicación evitar el contacto con los ojos y la piel. En caso de contacto con los ojos lavar repetidamente con agua y llama a un médico. Lavar minuciosamente tras el uso. No se debe ingerir.<br/><br/>
    <strong>ALMACENAMIENTO Y ESPERANZA DE VIDA</strong><br />
    12 meses a partir de la fecha de fabricación en los sacos sin abrir que se almacenan adecuadamente.</p>
  </div>
</div>