---
layout: false
---
<div class="popup_title">L’entreprise familiale jette les bases du succès</div>
<img src="/img/sanded_thinset.jpg">
<p>Robert de Verteuil est l'un des directeurs chez MicroMilling Ltd avec son père, Maurice et son frère, Gregory. Micro Milling Ltd est une entreprise familiale à base de Trinidad qui produit du sable / mélanges de ciment pour la construction, la construction résidentielle et des industries contractantes. Micro Milling est issu d'une entreprise de traitement du sable que le père de Verteuil a fondé en 1974. Au moment où l’entreprise originale a produit différentes nuances de sable utilisées pour certaines applications de champs de pétrole, la filtration de l'eau, ou ont été vendus à d'autres entreprises qui utiliseraient le sable brut pour leurs propres fins de mélange. En outre, avant que les scories de charbon ne deviennent un produit préféré, le sable de l'entreprise a également été utilisé pour la rouille des navires et des plates-formes pétrolières. <br />
<br />
De Verteuil raconte l'évolution de Micro Milling à ce que l'entreprise est devenue à nos jours: « Nous avons eu beaucoup d'expertise quand il est venu au sable et le dimensionnement de sable, et nous avions parlé avec des experts européens sur le mélange - nous ne l'avions jamais fait de mélange, avant. Nous avons commencé à tester le mélange de sable et de ciment avec certains additifs, et c'est ainsi que nous avons élaboré des produits. Il y avait deux autres producteurs locaux à l'époque - ils produisaient de bons produits, mais nous pensions qu'en mettant l'accent sur la qualité et le bon service, nous pourrions entrer dans ce marché. Et c'est ainsi que Micro Milling a été formé. "<br />
<br />
Lorsque la nouvelle entreprise a commencé en 1995, elle ne comportait qu'un seul produit – regular thin set, qui est utilisé pour l'installation de carreaux de céramique, de carreaux, de pavés de briques, de carreaux d'argile et de carreaux de béton - une seule usine et environ cinq employés. Aujourd'hui, plus de 50 employés de Micro Milling dans trois usines produisent les produits suivants: Regular et Premium Thin Set (Blanc & Gris), Tile Grout (Coulis de tuiles) tissés et non-tissés dans une large gamme de couleurs, mélange de plâtre, de béton et de grès, qui est utilisé comme matériau de finition sur des substrats de plâtre, de brique ou de béton. Les produits de l'entreprise sont vendus dans toute le Trinidad, ainsi qu'en Guyane, en Barbade, en Grenade, en Sainte-Lucie, en Dominica et à Antigua.<br />
<img src="/img/thinset1.jpg"><br />
<img src="/img/plaster_mix.jpg"><br />
Micro Milling obtient son sable brut des carrières sur l'île et son ciment à partir de Trinidad Cement Ltd. Ensuite, il fait tout le traitement. Il ne vend aucun de ses produits directement aux consommateurs, mais s'appuie plutôt sur le matériel ou les magasins de carreaux pour leur distribution. Ils ont, à leur tour, agissent en tant que force de vente de l'entreprise.<br /><br />
De Verteuil explique comment l'engagement de l'entreprise à servir les utilisateurs de ses produits se déroule dans ses opérations quotidiennes: “Nous avons également de bonnes relations avec les bricoleurs. Trinidad n'est pas une très grande place. Nous connaissons certains des principaux entrepreneurs de carreaux du marché. Nous gardons nos oreilles au sol et veillons à ce qu'ils soient satisfaits de notre produit. S'ils ne sont pas heureux, disons, de la façon dont quelque chose sèche, si elle sèche trop vite ou trop lentement si elle n'est pas assez collante s'ils n'aiment pas l'emballage - nous écoutons les autres qui utilisent réellement le produit. Je pense que c'est très important. "<br /><br />
De Verteuil clarifie en outre ce qui distingue Micro Milling de la concurrence: « Nous nous concentrons beaucoup sur la qualité. Nous avons consacré un peu de temps, d'effort et d'argent pour mettre en place notre propre laboratoire interne il y a quelques années. Il dispose de tous les derniers équipements capables de faire tous les tests liés à toutes les normes que nos produits rencontrent. Habituellement, ce que font les entreprises, est-ce qu'ils envoient leurs produits aux États-Unis? Il y a un endroit appelé Tile Council et ils testent pour la norme ANSI (American National Standards Institute). Ce processus pourrait prendre jusqu'à trois mois avant que les résultats sont reçus, mais nous faisons tous nos propres tests. Nous l'envoyons aux États pour vérifier que nos tests sont corrects, mais c'est une grande partie de notre qualité. "
<br /><br />
Dans sa quête continue pour ce haut niveau de qualité, Micro Milling a organisé un atelier de formation, l'année dernière, à l'hôtel Royal à San Fernando, en Trinidad, menée par l'Association nationale des entrepreneurs en carreaux, Inc. (NTCA), La plus grande association de entrepreneurs en carreaux au monde, avec plus de 1 000 membres. S'agissant principalement des bricoleurs et des entrepreneurs locaux, il y a eu environ 50 bricoleurs et distributeurs. L'atelier a porté sur une variété de sujets, allant de la préparation des substrats au jointoiement. L'atelier a été un tel succès, que Verteuil espère organiser des événements similaires à l'avenir.<br /><br />
Comment Micro Milling reste-t-il en avance sur la courbe? “Dans notre type d'entreprise, en ce qui concerne les usines et les machines, les mises à niveau sont constantes, toujours dans votre esprit. Tout pour améliorer vos processus, ou améliorer votre service à vos clients - c'est une chose constante. Au cours des trois ou quatre dernières années, nous avons fait beaucoup de mises à niveau. Nous avons construit une nouvelle usine mince et une nouvelle usine de carreaux. Nous avons augmenté notre capacité à un niveau où nous pouvons rechercher activement de nouveaux marchés d'exportation et nous sommes à l'aise que Trinidad soit desservie. " En outre, la société a ajouté de nouvelles lignes de produits, telles que le mélange de plâtre et le mélange de béton. Il a également commencé à offrir des sacs de tampon à carreaux plus petits, plus pratiques, de cinq livres pour le propriétaire de la maison de bricolage.
<br /><br />
Bien que de Verteuil souhaite élargir la gamme d'exportation de l'entreprise, il se souvient des restrictions particulières imposées par ses produits: “Parce que c'est un produit lourd, je ne peux pas rivaliser avec la Floride, par exemple. Je ne peux pas envoyer le produit en Floride et être compétitif avec les autres qui produisent des produits là-bas. Alors pour l’instant, mon cible ce sont les les pays des Caraïbes anglophones, mais je ne vois pas pourquoi, dans un proche avenir, nous ne pouvons pas entrer dans certaines des îles qui parlent espagnol et aussi français.<br /><br />
Comme Micro Milling Ltd. se développe, en ajoutant plus de diversité à ses gammes de produits et d'élargir ses marchés, Il sera en mesure de construire sur ses 20 ans d'histoire de fournir un service de qualité à ses clients. Après tout, il a déjà jeté les bases de son succès.
<br /><br />
<img src="/img/thinset2.jpg"><br />
<img src="/img/thinset3.jpg"><br />
VENDEUR PREFERES<br />
Caribbean Shipping Agencies Ltd. <br />
www.csaship.com
</p>
<script type="text/javascript"> Cufon.refresh(); </script> 