---
title: Thinset | Tile Grout | Sandstone Render | Plaster Mix | Trinidad &amp; Tobago

metaDescription:

metaKeywords:

slug: index
date: 2016-09-13 21:22:54
layout: contact
language: fr
---
<script language="javascript" type="text/javascript">
  swfobject.params = {
      menu: "false",
      wmode: "transparent"    
  };

  swfobject.attributes = {
      id: "flash"
  };
  swfobject.embedSWF("/swf/fr/homepage.swf", "flash", "994", "292", "9.0.0", "/swf/fr/expressInstall.swf", swfobject.flashvars, swfobject.params, swfobject.attributes);
</script>
<div id="flash"><img src="/img/homepage.png" width="994" height="292" alt="" /></div>
<div id="home_bottomarea" style="background: url(../img/fr/bg_home_bottomarea.png);">
  <!-- Let's read the directory but only the home_product_ images. --> 
     
     
  <!-- Display the image -->
  <div id="featured_product"><a href="/fr/tile_grout"><img src="/img/home_product_tile_grout.gif" width="298" height="135" alt="" /></a><a href="/fr/tile_grout" class="button"></a></div>
  <div id="latest">
    <div class="post">
        <h1>MICRO MILLING LTD. HOTES D’UNE HISTORIQUE DE L’ATELIER NTCA</h1>
        <p>Fabricant local THINSET et DE GROUT (coulis), Micro Milling Ltd., créé l'histoire quand il a organisation d’un atelier de formation sur mesure menée par le NTCA. <a href="/img/ad.gif" class="news">Lire la suite</a></p>
        <a href="/fr/news" class="button"></a>
    </div>
  </div>
  <div id="google_map"><a href="/fr/contact"><img src="/img/google_map2.png" width="319" height="127" alt="" /></a><a href="/fr/contact" class="button"></a></div>
</div>