---
layout: false
---
<div class="popup_title">NOUVELLE USINE COMPLETE DE GROUT</div>
<p>Avec notre nouvelle usine de coulis, nous offrons actuellement 25 couleurs de Tile Grout.( coulis de carrelage) sablée. Nous avons également lancé récemment notre ligne Tile Grout sans sable avec 5 couleurs en vogue disponibles dans des sacs confort de 10lb. Cela nous fera le seul fabricant de T & T avec la capacité d'offrir un large éventail de couleurs de coulis carreaux.</p>
<script type="text/javascript"> Cufon.refresh(); </script> 