---
layout: false
---
<div class="popup_title">COMPLETADA LA NUEVA PLANTA DE MASILLA</div>
<p>Con nuestra nueva planta de masilla ahora completada, actualmente ofrecemos 25 colores de Grout con Arena para Alicatado. También hemos lanzado recientemente nuestra selección de Grout sin Arena para Alicatado con 5 colores populares, disponibles en cómodos sacos de 10lb. Esto nos convierte en el único fabricante de T&T con la capacidad de ofrecer una gama de colores de masilla para alicatado tan amplia.</p>
<script type="text/javascript"> Cufon.refresh(); </script> 