<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <%
    var title = page.title;

    if (is_archive()){
        title = __('archive_a');

    if (is_month()){
        title += ': ' + page.year + '/' + page.month;
    } else if (is_year()){
        title += ': ' + page.year;
    }
    } else if (is_category()){
        title = __('category') + ': ' + page.category;
    } else if (is_tag()){
        title = __('tag') + ': ' + page.tag;
    }
    %>
    <title><%= config.title %> | <% if (title){ %><%= title %><% } %></title>

    <% if (page.metaDescription) { %><meta name="description" content="<%= page.metaDescription %>" /><% } %>
    <% if (page.metaKeywords) { %><meta name="keywords" content="<%= page.metaKeywords %>" /><% } %>

    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300" rel="stylesheet">
    <link rel="stylesheet" href="/css/common.css?ver=3">
    <%- css('css/shadowbox.css') %>
    <%- css('css/colorbox.css') %>

    <%- js('js/jquery-1.8.0.min.js') %>
    <%- js('js/swfobject.js') %>
    <%- js('js/cufon-yui.js') %>
    <%- js('js/Helvetica_Neue_LT_Std_250.font.js') %>
    <%- js('js/Helvetica_Inserat_LT_Std_800.font.js') %>
    <%- js('js/shadowbox.js') %>
    <%- js('js/jquery.colorbox.js') %>
    <script>
        $(document).ready(function(){
            $("img.menu_original").hover(
                function() {
                $(this).stop(true,true).animate({"opacity": "0"}, "normal");
            },
            function() {
                $(this).stop(true,true).animate({"opacity": "1"}, "normal");
            });
        });

        // Cufon.replace('#page_header', { fontFamily: 'Helvetica Neue LT Std' });
        // Cufon.replace('#home_bottomarea #latest .post h1', { fontFamily: 'Helvetica Neue LT Std' });
        // Cufon.replace('.sidebar ul li', { fontFamily: 'Helvetica Neue LT Std' });
        // Cufon.replace('#content .article .title', { fontFamily: 'Helvetica Neue LT Std' });
        // Cufon.replace('.project .title', { fontFamily: 'Helvetica Neue LT Std' });
        // Cufon.replace('.project .type', { fontFamily: 'Helvetica Inserat LT Std' });
        // Cufon.replace('#recent_projects', { fontFamily: 'Helvetica Inserat LT Std' });
        // Cufon.replace('.product .title', { fontFamily: 'Helvetica Inserat LT Std', textShadow: '#333 1px 1px' });
        // Cufon.replace('.product .sub_title', { fontFamily: 'Helvetica Inserat LT Std', textShadow: '#333 1px 1px' });
        // Cufon.replace('#content .product .view_details', { fontFamily: 'Helvetica Inserat LT Std', textShadow: '#333 1px 1px' });
        // Cufon.replace('.sidebar ul#other_products li a', { fontFamily: 'Helvetica Inserat LT Std', textShadow: '#333 1px 1px' });
        // Cufon.replace('.popup_title', { fontFamily: 'Helvetica Inserat LT Std' });

        Shadowbox.init();

        $(document).ready(function(){
          $(".news").colorbox({width: 650});
        });
    </script>
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-1859824-60']);
        _gaq.push(['_trackPageview']);

        (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>

    <% if (theme.rss){ %>
    <link rel="alternate" href="<%- theme.rss %>" title="<%= config.title %>" type="application/atom+xml">
    <% } %>
    <% if (theme.favicon){ %>
    <link rel="icon" href="<%- theme.favicon %>">
    <% } %>

    <link rel="apple-touch-icon" sizes="76x76" href="/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/img/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/img/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/img/manifest.json">
    <link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
</head>
