<header id="header">
  <ul class="select-language">
    <li class="select-language-fr"><a href="/fr"></a></li>
    <li class="select-language-es"><a href="/es"></a></li>
    <li class="select-language-en"><a href="/"></a></li>
  </ul>
  <% 
    page.language || (page.language = 'en');
    var lang = page.language === 'en' ? '/' : url_for(page.language) + '/' ;
  %>
  <div id="logo"><a href="<%= lang %>"><img src="/img/logo.png" width="274" height="89" alt="<%= config.title %>" /></a></div>
  <ul id="menu">
    <li id="menu_side_left"><img src="/img/menu_side_left.gif" width="27" height="73" alt="" /></li>
    <li id="the_company">
      <a href="<%= lang %>company">
        <img src="/img/<%= page.language %>/menu_company.gif" width="188" height="73" alt="<%= __('menu.the_company.title') %>" class="menu_original" />
        <img src="/img/<%= page.language %>/menu_company_over.gif" width="188" height="73" alt="<%= __('menu.the_company.title') %>" class="menu_over" />
      </a>
    </li>
    <li id="our_products">
      <a href="<%= lang %>products">
        <img src="/img/<%= page.language %>/menu_products.gif" width="194" height="73" alt="<%= __('menu.our_products.title') %>" class="menu_original" />
        <img src="/img/<%= page.language %>/menu_products_over.gif" width="194" height="73" alt="<%= __('menu.our_products.title') %>" class="menu_over" />
      </a>
    </li>
    <li id="news">
      <a href="<%= lang %>news">
        <img src="/img/<%= page.language %>/menu_news.gif" width="139" height="73" alt="<%= __('menu.news.title') %>" class="menu_original" />
        <img src="/img/<%= page.language %>/menu_news_over.gif" width="138" height="73" alt="<%= __('menu.news.title') %>" class="menu_over" />
      </a>
    </li>
    <li id="contact">
      <a href="<%= lang %>contact">
        <img src="/img/<%= page.language %>/menu_contact.gif" width="128" height="73" alt="<%= __('menu.contact.title') %>" class="menu_original" />
        <img src="/img/<%= page.language %>/menu_contact_over.gif" width="128" height="73" alt="<%= __('menu.contact.title') %>" class="menu_over" />
      </a>
    </li>
  </ul>
</header>