<div id="sidebar_box">
  <div class="sidebar main-sidebar">
    <div class="sidebar_left"></div>
    <img src="/img/<%= page.language %>/in_this_section.gif" width="232" height="42" alt="In This Section" />
    <ul>
      <% for(var name in page.sidebar.pages) { %>
        <%
          var p = page.sidebar.pages[name];
          var url = page.language == 'en' ? name : page.language + '/' + name;
          var href = p.href ? p.href : '/' + url;
        %>
        <li><a class="<%- page.slug === name ? 'active' : '' %>"<% if (p.url != false) {%> href="<%= href %>" <% } %>><%- __(p.lang_key) %></a></li>
      <% } %>
    </ul>
  </div>
  <% if (page.sub_sidebar) { %>
  <div class="sidebar sub-sidebar" style="border-top: none; clear: both;">
      <div class="sidebar_left"></div>
      <img src="/img/<%= page.language %>/other_products.gif" width="232" height="42" alt="Other Products" />
      <ul id="other_products">
        <% for(var name in page.sub_sidebar.pages) { %>
          <%
            var p = page.sub_sidebar.pages[name];
            var url = page.language == 'en' ? name : page.language + '/' + name;
            var href = p.href ? p.href : '/' + url;
          %>
          <li><a class="<%- p.class  %>" href="<%= href %>"><%- __(p.lang_key) %></a></li>
        <% } %>
      </ul>
  </div>
  <% } %>
</div>