---
title: NOTICIAS MÁS RECIENTES

metaDescription:

metaKeywords:

slug: news
date: 2016-09-13 21:22:54
layout: main
sidebar:
  pages:
    news0:
      url: false
      lang_key: news.sidebar.pages.news0
    news1:
      url: false
      lang_key: news.sidebar.pages.news1
    news2:
      url: false
      lang_key: news.sidebar.pages.news2
    news3:
      url: false
      lang_key: news.sidebar.pages.news3
    news4:
      url: false
      lang_key: news.sidebar.pages.news4
    news5:
      url: false
      lang_key: news.sidebar.pages.news5
    news6:
      url: false
      lang_key: news.sidebar.pages.news6
    news7:
      url: false
      lang_key: news.sidebar.pages.news7

language: es
---
<div id="content">
  <div id="page_header">NOTICIAS MÁS RECIENTES</div>
  <div class="article">
    <div class="title">EMPRESA FAMILIAR QUE PREPARA LOS CIMIENTOS PARA EL ÉXITO</div>
    <div class="pic"><img src="/img/article_pic.gif" width="122" height="86" alt="" /></div>
    <div class="content">Micro Milling Ltd es una empresa familiar con sede en Trinidad que fabrica mezclas de arena/cemento.</div>
    <div class="read_more"><a href="/es/bvc_es.html" target="_blank" class="news"><img src="/img/button_read_more.gif" width="87" height="22" alt="Read More" /></a></div>
  </div>
  <div class="article">
    <div class="title">AHORA DISPONIBLES NUEVOS COLORES DE GROUT</div>
    <div class="pic"><img src="/img/article_pic.gif" width="122" height="86" alt="" /></div>
    <div class="content">Debido a la demanda popular, nuestra selección de productos de masilla ahora incluye 3 increíbles nuevos colores; Antique, Sun Glow y Sea Shell.</div>
    <div class="read_more"><a href="/es/new-colours.html" class="news"><img src="/img/button_read_more.gif" width="87" height="22" alt="Read More" /></a></div>
  </div>
  <div class="article">
    <div class="title">NUEVAS MEZCLAS DE PLASTER Y DE HORMIGÓN</div>
    <div class="pic"><img src="/img/article_pic.gif" width="122" height="86" alt="" /></div>
    <div class="content">Nuestros productos ahora incluyen mezclas de plaster y mezclas de hormigón equipadas para hacer que las labores de los albañiles sean más fáciles con mezclas consistentes y de calidad.</div>
    <div class="read_more"><a href="/es/mixes.html" class="news"><img src="/img/button_read_more.gif" width="87" height="22" alt="Read More" /></a></div>
  </div>
  <div class="article">
    <div class="title">THINSET DE MICRO MILLING AHORA DISPONIBLE EN GUYANA</div>
    <div class="pic"><img src="/img/article_pic.gif" width="122" height="86" alt="" /></div>
    <div class="content">Después de “comentarios excelentes” de los contratistas locales, TCL Guyana ahora distribuye a toda la nación.</div>
    <div class="read_more"><a href="/es/guyana.html" class="news"><img src="/img/button_read_more.gif" width="87" height="22" alt="Read More" /></a></div>
  </div>
  <div class="article">
    <div class="title">MICRO MILLING LTD. ACOGE UN TALLER NTCA HISTÓRICO</div>
    <div class="pic"><img src="/img/article_pic.gif" width="122" height="86" alt="" /></div>
    <div class="content">El fabricante local de argamasas y masa para alicatado, Micro Milling Ltd., hizo historia cuando acogió un taller de formación personalizada dirigido por la NTCA.</div>
    <div class="read_more"><a><img src="/img/button_read_more.gif" width="87" height="22" alt="Read More" /></a></div>
  </div>
  <div class="article">
    <div class="title">NUEVOS CÓMODOS SACOS DE 5LB</div>
    <div class="pic"><img src="/img/article_pic.gif" width="122" height="86" alt="" /></div>
    <div class="content">Nuestra amplia selección de Tile Grout ahora están disponibles en cómodos sacos de 5LB</div>
    <div class="read_more"><a href="/img/5lb-sack.jpg" class="news"><img src="/img/button_read_more.gif" width="87" height="22" alt="Read More" /></a></div>
  </div>
  <div class="article">
    <div class="title">AUMENTO EN LAS PRUEBAS DE PRODUCTO Y DEL I+D</div>
    <div class="pic"><img src="/img/article_pic.gif" width="122" height="86" alt="" /></div>
    <div class="content">Hemos actualizado nuestro laboratorio interno con el equipamiento más moderno.</div>
    <div class="read_more"><a href="/es/test2.html" class="news"><img src="/img/button_read_more.gif" width="87" height="22" alt="Read More" /></a></div>
  </div>
  <div class="article">
    <div class="title">COMPLETADA LA NUEVA PLANTA DE MASILLA</div>
    <div class="pic"><img src="/img/article_pic.gif" width="122" height="86" alt="" /></div>
    <div class="content">Con nuestra nueva planta de masilla ahora completada, actualmente ofrecemos 25 colores de Grout con Arena para Alicatado.</div>
    <div class="read_more"><a href="/es/test.html" class="news"><img src="/img/button_read_more.gif" width="87" height="22" alt="Read More" /></a></div>
  </div>
</div>