---
title: Customer Commitment | Serving Trinidad Tobago | Caribbean

metaDescription: Micro Milling LTD processes its own sand used in the blends for its Thinset, Grout, Sandstone Render and Plaster Mix, all of which have proven to stand up to the precise requirements of the construction industry. We have been serving customers since 1974 and are committed to continue to grow and diversify our products to meet your needs.

metaKeywords: Micro milling, sand processing, cement blocks, cement, trinidad, tobago, caribbean, TTMA, NTCA, tile, Thinset, Grout, Sandstone Render, Plaster Mix, Trinidad and Tobago Manufacturers Association, National Tile Contractors Association, concrete, mortar mix, cement, concrete repair products, stucco, waterproofing, tile setting, blacktop products, thin set, floor underlayment, sand, aggregates, masonry, Micro Milling LTD, Plaisance Park Industrial Estate, Point-a-Pierre, Trinidad

slug: committment
date: 2016-09-13 21:22:54
layout: main
sidebar:
  pages:
    company:
      lang_key: committment.sidebar.pages.company
    committment:
      lang_key: committment.sidebar.pages.committment
language: en
---
<div id="content">
  <div id="page_header">Our Committment to Quality</div>
  <div id="company_pic"><img src="/img/commitment.jpg" width="653" height="152" alt="The Company" /></div>

  <p class="clear">Micro Milling Ltd processes its own sand used in the blends for its Thinset, Grout, Sandstone Render and Plaster Mix, all of which have proven to stand up to the precise requirements of the construction industry.</p>

  <p>The company's edge lies in the fact that we place great emphasis on regular testing of our products to ensure that consistent quality is maintained at all times. This is done at our new internal lab which is a modern, state of the art facility, intended for enhancing our research and development capabilities and stringent control methods.</p>

  <p>Added to that, we work assiduously to ensure our customers receive the very best service: prompt and efficient delivery &ndash; as fast as same day most days, down to details such as the packing of bags so that there is no mess or spillage in transit.</p>

  <p>Here's what some of our distributors say:</p>

  <p style="margin: 0px 0px 25px 0px;"><img src="/img/rafmon.gif" width="46" height="50" alt="Rafmon Marketing" style="float: left; margin: 0px 10px 0px 0px;" /> "We are very happy with the level of service from Micro Milling Ltd. We do lots of business with them" &ndash; <strong style="color: #4145a6;"><a href="http://www.rafmon.com/" target="_blank">Carlos Figuero, Rafmon Marketing</a></strong></p>

  <p style="margin: 0px 0px 10px 0px;"><img src="/img/ceramic_trinidad.gif" width="46" height="50" alt="Cermaic Trinidad Limited" style="float: left; margin: 0px 10px 0px 0px;" /> "The quality of Micro Milling products is comparable to anything on the international market. From a distributer's standpoint, it is a plus to be able to source products with that level of quality from a local manufacturer" &ndash; <strong style="color: #4145a6;"><a href="http://www.ceramictrinidadltd.com" target="_blank">Roger Hadeed, Ceramic Trinidad Limited</a></strong>.</p>

  <p style="margin: 0px 0px 10px 0px;"><img src="/img/tilewarhouse.gif" width="46" height="50" alt="Tile Warehouse" style="float: left; margin: 0px 10px 0px 0px;" /> "Micro Milling is the best. Tilers request their products because of the easy nature to work with. Their formula withstands all complaints previously made by users of Thinset in the Caribbean. The service is excellent" &ndash; <strong style="color: #4145a6;"><a href="http://www.tile-warehouse.net" target="_blank">Chris Ramdath, Tile Warehouse</a></strong></p>

  <p>"Micro Milling provides a valuable range of products. They have been serving us since we started business seven years ago and we have had no complaints thus far regarding quality" &ndash; <strong style="color: #4145a6;">Dewan Singh, Classic Tiles</strong></p>
</div>
