---
title: Products | Thin Set | Plaster | Tile Grout | Sandstone Render

metaDescription: Micro Milling LTD has a variety of quality products for the Caribbean contractor who needs the best in thinset, grout, sandstone render and plaster mix. We have been serving customers since 1974 and are committed to continue to grow and diversify our products to meet your needs.

metaKeywords: Micro milling, sand processing, cement blocks, cement, trinidad, tobago, caribbean, TTMA, NTCA, tile, Thinset, Grout, Sandstone Render, Plaster Mix, Trinidad and Tobago Manufacturers Association, National Tile Contractors Association, concrete, mortar mix, cement, concrete repair products, stucco, waterproofing, tile setting, blacktop products, thin set, floor underlayment, sand, aggregates, masonry, Micro Milling LTD, Plaisance Park Industrial Estate, Point-a-Pierre, Trinidad

slug: products
date: 2016-09-13 21:22:54
layout: main
sidebar:
  pages:
    thin_set:
      lang_key: products.sidebar.pages.thin_set
    premium_thin_set:
      lang_key: products.sidebar.pages.premium_thin_set
    plaster_mix:
      lang_key: products.sidebar.pages.plaster_mix
    tile_grout:
      lang_key: products.sidebar.pages.tile_grout
    concrete_mix:
      lang_key: products.sidebar.pages.concrete_mix
    sandstone_render:
      lang_key: products.sidebar.pages.sandstone_render
language: en
---
<div id="content">
  <div id="page_header">Our Products</div>
  <p>Our products now include plaster mix and concrete mix geared towards making the contractors job easier with consistent, quality mixes.</p><div class="product">
  <div class="title_side title_side_blue"></div>
  <div class="title title_blue">REGULAR THIN SET (Available in White & Grey)</div>
  <div class="pic"><img src="/img/products_thin_set.gif" width="167" height="225" alt="Thin Set" /></div>
  <div class="description">
    <p>Micro Milling's Thinset now available in Guyana. After "excellent <br> reviews" from local contractors TCL Guyana now distributes nationwide.</p>
      <ul style="width: 500px; margin-top: 0px;">
        <li>Exceeds ANSI A118.1 requirements</li>
        <li>Ease of application</li>
        <li>Excellent workability</li>
        <li>Strong bond with optimum working time to compliment the skills of the tiler</li>
        <li>Manufactured under stringent controls to ensure consistency and quality</li>
        <li>Specially formulated for warm weather applications.</li>
        <li>For interior and exterior installations</li>
        <li>For walls or floors</li>
        <li>For residential or commercial installations.</li>
      </ul>
    </div>
    <div class="view_details"><a href="/thin_set" class="blue">View Details</a></div>
  </div>

  <div class="product">
    <div class="title_side title_side_yellow"></div>
    <div class="title title_yellow">PREMIUM THIN SET (Available in White & Grey)</div>
    <div class="pic"><img src="/img/products_premium_thin_set.gif" width="167" height="225" alt="Premium Thin Set" /></div>
    <div class="description">
      <p>Micro Milling's Thinset now available in Guyana. After "excellent <br> reviews" from local contractors TCL Guyana now distributes nationwide.</p>
      <ul style="width: 500px; margin-top: 0px;">
        <li>Polymer modified &ndash; just add water</li>
        <li>Exceeds ANSI A118.4 requirements</li>
        <li>Ease of application</li>
        <li>Excellent workability</li>
        <li>Specially formulated for warm weather applications</li>
        <li>Extremely durable</li>
        <li>Resistance to shock and impact</li>
        <li>Manufactured under stringent controls to ensure consistency and quality</li>
        <li>For interior and exterior installations</li>
        <li>For walls, floors or ceilings</li>
        <li>For residential or commercial installations</li>
        <li>High performance bond&ndash;best for most difficult tiles, substrates and conditions</li>

        <li>Excellent adhesion to exterior grade plywood (interior only)</li>
      </ul>
    </div>
    <div class="view_details"><a href="/premium_thin_set" class="yellow">View Details</a></div>
  </div> 
  <div class="product">
    <div class="title_side title_side_green"></div>
    <div class="title title_green">TILE GROUT (Available in 24 colours)</div>
    <div class="pic-tile-grout"><img src="/img/grout_25-5.gif" width="167" height="485" alt="Tile Grout" /></div>
    <div class="description">
      <p>Our wide range of Tile grouts are now available in convenient 5LB sacks.</p>
      <p style="margin-top: 0px;"><strong>Sanded Grout</strong></p>
      <ul style="margin-top: 0px;">
        <li>Exceeds ANSI A118.6 and A118.7 requirements</li>
        <li>For interior and exterior use</li>
        <li>For grout joints 1/8" to 1/2"</li>
        <li>Polymer modified &ndash; Just add water</li>
        <li>For wall, floor or ceiling applications</li>
        <li>Helps repel most stains, dirt and grime with its water beading formula</li>
        <li>Is durable enough for residential and/or commercial traffic</li>
        <li>Is packaged in convenient 25lb bags</li>
      </ul>
      <p style="margin-top: 0px;"><strong>Unsanded Grout</strong></p>
      <ul style="margin-top: 0px;">
        <li>Exceeds ANSI A118.6 requirements</li>
        <li>For interior and exterior use</li>
        <li>Can be used for grout joints up to 1/8" wide</li>
        <li>Polymer modified &ndash; Just add water</li>
        <li>For wall, floor or ceiling applications</li>
        <li>Helps repel most stains, dirt and grime with its water beading formula</li>
        <li>Is durable enough for residential and/or commercial traffic</li>
        <li>Packaged in convenient 25lb bags</li>
      </ul>
    </div>
    <div class="view_details"><a href="/tile_grout" class="green">View Details</a></div>
    <p>&nbsp;</p>
  </div>
  <div class="product">
    <div class="title_side title_side_red"></div>
    <div class="title title_red">PLASTER MIX</div>
    <div class="pic"><img src="/img/products_plaster_mix.gif" width="167" height="225" alt="Plaster Mix" /></div>
    <div class="description">
      <ul style="width: 500px; margin-top: 0px;">
        <li>Ease of application (excellent workability)</li>
        <li>Produces lasting durability</li>
        <li>Efficient alternative to site mixing&ndash;less wastage due to not having to batch on site</li>
        <li>Manufactured to ensure consistency&ndash;eliminates site batching risk (Graded sand allows for smooth consistent finish)</li>
        <li>Streamlines and improves building progress</li>
        <li>Greater productivity as more plasterwork is produced in less time</li>
        <li>Fibers provide tensile reinforcement and improve elastic performance</li>
      </ul>
    </div>
    <div class="view_details"><a href="/plaster_mix" class="red">View Details</a></div>
  </div>
  <div class="product">
    <div class="title_side title_side_green2"></div>
    <div class="title title_green2">CONCRETE MIX</div>
    <div class="pic"><img src="/img/products_concrete_mix.gif" width="167" height="225" alt="Concrete Mix" /></div>
    <div class="description">
      <p>A ready to use mixture of Sand, Fine Aggregate and Cement, ideal for <br>repairing concrete, setting poles, casting drive ways, walkways and steps.</p>
      <ul style="width: 500px; margin-top: 0px;">
        <li>Compressive Strength</li>
        <li>7 days - 3000 PSI</li>
        <li>28 days - 4000 PSI</li>
      </ul></div>
      <div class="view_details"><a href="/concrete_mix" class="green2">View Details</a></div>
  </div>
  <div class="product">
    <div class="title_side title_side_brown"></div>
    <div class="title title_brown">SANDSTONE RENDER (Available in Coral Coarse & Coral Fine)</div>
    <div class="pic"><img src="/img/products_sandstone_render.gif" width="167" height="225" alt="Sandstone Render" /></div>
    <div class="description">
      <ul style="width: 500px; margin-top: 0px;">
        <li>Low maintenance</li>
        <li>Water resistant and extremely durable; can be pressure washed</li>
        <li>Numerous design possibilities</li>
        <li>Manufactured to ensure consistency, eliminating site batching risk</li>
        <li>Attractive natural finish&ndash;no paint required</li>
        <li>Can save labour and eliminate on site wastage by not having to batch on site</li>
      </ul></div>
      <div class="view_details"><a href="/sandstone_render" class="brown">View Details</a></div>
  </div>
</div>
