---
title: NOTRE ENGAGEMENT EN TERME DE QUALITÉ

metaDescription:

metaKeywords:

slug: committment
date: 2016-09-13 21:22:54
layout: main
sidebar:
  pages:
    company:
      lang_key: committment.sidebar.pages.company
    committment:
      lang_key: committment.sidebar.pages.committment
language: fr
---
<div id="content">
  <div id="page_header">NOTRE ENGAGEMENT EN TERME DE QUALITÉ</div>
  <div id="company_pic"><img src="/img/commitment.jpg" width="653" height="152" alt="The Company" /></div>

  <p class="clear">Micro Milling Ltd traite son propre sable utilisé dans les mélanges pour son Thin set (Mortier Mince), Grout(Coulis), Sandstone Render (enduit) et Plaster Mix( Mélange de Plâtre), qui ont tous le mérite d’être debout face aux exigences précises des industries du bâtiment.</p>

  <p>L’atout de l'entreprise réside dans le fait que nous attachons une grande importance concernant les tests réguliers de nos produits pour faire en sorte que la qualité soit constante est maintenue en tout temps. Cela se fait dans notre nouveau laboratoire modernisé interne, avec des installations de pointe, destiné à améliorer nos capacités de recherche, de développement et les méthodes de contrôle strictes.</p>

  <p>En plus de cela, nous travaillons sans relâche pour assurer que nos clients reçoivent le meilleur service : livraison rapide et efficace - aussi vite pour le même jour ainsi que la plupart des jours, jusqu'à des détails tels que l'emballage des sacs pour qu'il n'y ait pas de gâchis ou de déversement en transit.</p>

  <p>Voici certains commentaires de nos distributeurs:</p>

  <p style="margin: 0px 0px 25px 0px;"><img src="/img/rafmon.gif" width="46" height="50" alt="Rafmon Marketing" style="float: left; margin: 0px 10px 0px 0px;" /> “Nous sommes très heureux avec la qualité du service de Micro Milling Ltd. Nous faisons beaucoup d'affaires avec eux” &ndash; <strong style="color: #4145a6;"><a href="http://www.rafmon.com/" target="_blank">Carlos Figuero, Rafmon Marketing</a></strong></p>

  <p style="margin: 0px 0px 10px 0px;"><img src="/img/ceramic_trinidad.gif" width="46" height="50" alt="Cermaic Trinidad Limited" style="float: left; margin: 0px 10px 0px 0px;" /> “La qualité des produits de Micro-Milling est comparable à n’importe quels produits sur le marché international. Du point de vue d'un distributeur, son avantage c’est d’approvisionner des produits de haute qualité pour un fabricant local” &ndash; <strong style="color: #4145a6;"><a href="http://www.ceramictrinidadltd.com" target="_blank">Roger Hadeed, Ceramic Trinidad Limited</a></strong>.</p>

  <p style="margin: 0px 0px 10px 0px;"><img src="/img/tilewarhouse.gif" width="46" height="50" alt="Tile Warehouse" style="float: left; margin: 0px 10px 0px 0px;" /> “Micro Milling est le meilleur. Les Carreleurs demandent leurs produits parce qu’ils sont faciles à travailler. Leur formule résiste à toutes les plaintes déposées auparavant par les utilisateurs de mortier mince dans les Caraïbes. Le service est excellent” &ndash; <strong style="color: #4145a6;"><a href="http://www.tile-warehouse.net" target="_blank">Chris Ramdath, Tile Warehouse</a></strong></p>

  <p>“Micro Milling fournit une gamme authentique de produits. Ils sont à nos service depuis le commencement de nos affaires il y a sept ans et nous avons eu aucune plainte à ce jour en matière de qualité” &ndash; <strong style="color: #4145a6;">Dewan Singh, Classic Tiles</strong></p>
</div>
