---
title: Company Information | Trinidad Tobago

metaDescription: Micro Milling LTD provides quality service and products to the Caribbean contractor who needs the best in thinset, grout, sandstone render and plaster mix. We have been serving customers since 1974 and are committed to continue to grow and diversify our products to meet your needs.

metaKeywords: Micro milling, sand processing, cement blocks, cement, trinidad, tobago, caribbean, TTMA, NTCA, tile, Thinset, Grout, Sandstone Render, Plaster Mix, Trinidad and Tobago Manufacturers Association, National Tile Contractors Association, concrete, mortar mix, cement, concrete repair products, stucco, waterproofing, tile setting, blacktop products, thin set, floor underlayment, sand, aggregates, masonry, Micro Milling LTD, Plaisance Park Industrial Estate, Point-a-Pierre, Trinidad

slug: company
date: 2016-09-13 21:22:54
layout: main
sidebar:
  pages:
    company:
      lang_key: company.sidebar.pages.company
    committment:
      lang_key: company.sidebar.pages.committment
language: en
---
<div id="content">
  <div id="page_header">Company Profile</div>
  <div id="company_pic"><img src="/img/company_pic.jpg" width="653" height="152" alt="The Company" /></div>
  <p class="clear">Our initial venture started off in 1974 with a sand processing business. With 20 years experience in the sand business and assistance from European experts, the business successfully progressed into sand/cement blends and so Micro Milling Ltd was formed in 1995.</p>
  <p>We launched the company with just a single plant, one product, and about five employees. Since then, through consistent research and development Micro Milling Ltd now produces the following range of products: Thinset, Grout, Sandstone Render and Plaster Mix. The company has since expanded to accommodate two more plants with adequate capacity to service the local market as well as the Caribbean</p>
  <p>We are a family run, hands on operation, dedicated to providing quality service to our customers. As members of the TTMA (Trinidad and Tobago Manufacturers Association) and the NTCA (National Tile Contractors Association), we continue to grow as we aim to add more diversity to our range and to broaden our markets.</p>
</div>