---
title: NUESTROS PRODUCTOS

metaDescription:

metaKeywords:

slug: products
date: 2016-09-13 21:22:54
layout: main
sidebar:
  pages:
    thin_set:
      lang_key: products.sidebar.pages.thin_set
    premium_thin_set:
      lang_key: products.sidebar.pages.premium_thin_set
    plaster_mix:
      lang_key: products.sidebar.pages.plaster_mix
    tile_grout:
      lang_key: products.sidebar.pages.tile_grout
    concrete_mix:
      lang_key: products.sidebar.pages.concrete_mix
    sandstone_render:
      lang_key: products.sidebar.pages.sandstone_render
language: es
---
<div id="content">
  <div id="page_header">NUESTROS PRODUCTOS</div>
  <p>Ahora, nuestros productos incluyen mezclas plaster y de hormigón para hacer que los trabajos de los albañiles sean más fáciles con mezclas consistentes y de calidad.</p><div class="product">
  <div class="title_side title_side_blue"></div>
  <div class="title title_blue">REGULAR THIN SET (Disponible en Blanco y Gris)</div>
  <div class="pic"><img src="/img/products_thin_set.gif" width="167" height="225" alt="Thin Set" /></div>
  <div class="description">
    <p>El Thinset de Micro Milling ahora disponible en Guyana. Después de “comentarios excelentes” de los contratistas locales, TCL Guyana ahora distribuye a toda la nación.</p>
      <ul style="width: 500px; margin-top: 0px;">
        <li>Sobrepasa los requisitos ANSI A118.1</li>
        <li>Aplicación fácil</li>
        <li>Excelente funcionalidad</li>
        <li>Unión fuerte con un tiempo de trabajo óptimo para completar las tareas del albañil.</li>
        <li>Fabricado bajo controles estrictos para asegurar consistencia y calidad</li>
        <li>Especialmente formulado para aplicaciones en climas cálidos.</li>
        <li>Para instalaciones interiores y exteriores</li>
        <li>Para paredes o suelos</li>
        <li>Para instalaciones residenciales o comerciales.</li>
      </ul>
    </div>
    <div class="view_details"><a href="/es/thin_set" class="blue">Ver Detalles</a></div>
  </div>

  <div class="product">
    <div class="title_side title_side_yellow"></div>
    <div class="title title_yellow">PREMIUM THIN SET (Available in White & Grey)</div>
    <div class="pic"><img src="/img/products_premium_thin_set.gif" width="167" height="225" alt="Premium Thin Set" /></div>
    <div class="description">
      <p>El Thinset de Micro Milling ahora disponible en Guyana. Después de “comentarios excelentes” de los contratistas locales, TCL Guyana ahora distribuye a toda la nación.</p>
      <ul style="width: 500px; margin-top: 0px;">
        <li>Modificado con polímero – sólo añadir agua</li>
        <li>Sobrepasa los requisitos ANSI A118.4</li>
        <li>Aplicación fácil</li>
        <li>Excelente funcionalidad</li>
        <li>Especialmente formulado para aplicaciones en climas cálidos</li>
        <li>Extremadamente duradero</li>
        <li>Resistente a los golpes e impactos</li>
        <li>Fabricado bajo controles estrictos para asegurar consistencia y calidad</li>
        <li>Para instalaciones interiores y exteriores</li>
        <li>Para paredes, suelos o techos</li>
        <li>Para instalaciones residenciales o comerciales</li>
        <li>Mejor unión de alto rendimiento para los azulejos, sustratos y condiciones más difíciles.</li>
        <li>Adhesión excelente a contrachapado tipo exterior (sólo interiores)</li>
      </ul>
    </div>
    <div class="view_details"><a href="/es/premium_thin_set" class="yellow">Ver Detalles</a></div>
  </div> 
  <div class="product">
    <div class="title_side title_side_green"></div>
    <div class="title title_green">TILE GROUT (Disponible en 24 colores)</div>
    <div class="pic-tile-grout"><img src="/img/grout_25-5.gif" width="167" height="485" alt="Tile Grout" /></div>
    <div class="description">
      <p>Nuestra gran selección de Tile grouts ahora disponible en cómodos sacos de 5LB.</p>
      <p style="margin-top: 0px;"><strong>Grout Con Arena</strong></p>
      <ul style="margin-top: 0px;">
        <li>Sobrepasa los requisitos ANSI A118.6 y A118.7</li>
        <li>Para uso interior y exterior</li>
        <li>Para uniones de masilla de 1/8” a 1/2"</li>
        <li>Modificado con polímero – Sólo añadir agua</li>
        <li>Para aplicaciones en paredes, suelos o techos</li>
        <li>Ayuda a repeler la mayoría de manchas, suciedad y mugre con su fórmula a base de agua</li>
        <li>Es lo suficientemente duradero para el tráfico comercial y/o residencial</li>
        <li>Está empaquetado en cómodos sacos de 25lb</li>
      </ul>
      <p style="margin-top: 0px;"><strong>Grout Sin Arena</strong></p>
      <ul style="margin-top: 0px;">
        <li>Sobrepasa los requisitos ANSI A118.6</li>
        <li>Para uso interior y exterior</li>
        <li>Puede usarse para uniones de masilla de hasta 1/8” de ancho</li>
        <li>Modificado con polímero – Sólo añadir agua</li>
        <li>Para aplicaciones en paredes, suelos o techos</li>
        <li>Ayuda a repeler la mayoría de manchas, suciedad y mugre con su fórmula a base de agua</li>
        <li>Es lo suficientemente duradero para el tráfico comercial y/o residencial</li>
        <li>Está empaquetado en cómodos sacos de 25lb</li>
      </ul>
    </div>
    <div class="view_details"><a href="/es/tile_grout" class="green">Ver Detalles</a></div>
    <p>&nbsp;</p>
  </div>
  <div class="product">
    <div class="title_side title_side_red"></div>
    <div class="title title_red">PLASTER MIX</div>
    <div class="pic"><img src="/img/products_plaster_mix.gif" width="167" height="225" alt="Plaster Mix" /></div>
    <div class="description">
      <ul style="width: 500px; margin-top: 0px;">
        <li>Aplicación fácil (excelente funcionalidad)</li>
        <li>Consigue una durabilidad duradera</li>
        <li>Alternativa eficiente a la mezcla en el sitio – menos desperdicios al no tener que mezclar en el lugar de trabajo</li>
        <li>Fabricado para asegurar consistencia – elimina los riesgos de mezclar en el lugar de trabajo (la arena graduada permite acabados con una suavidad consistente)</li>
        <li>Moderniza y mejora el progreso de la construcción</li>
        <li>Mayor productividad ya que se consigue más plasterwork en menos tiempo</li>
        <li>La fibra consigue un refuerzo maleable y mejora el rendimiento elástico. </li>
      </ul>
    </div>
    <div class="view_details"><a href="/es/plaster_mix" class="red">Ver Detalles</a></div>
  </div>
  <div class="product">
    <div class="title_side title_side_green2"></div>
    <div class="title title_green2">CONCRETE MIX</div>
    <div class="pic"><img src="/img/products_concrete_mix.gif" width="167" height="225" alt="Concrete Mix" /></div>
    <div class="description">
      <p>Una mezcla de Arena, Conglomerado Fino y Cemento lista para usar, ideal para reparar hormigón, mástiles, carreteras, paseos y escalones.</p>
      <ul style="width: 500px; margin-top: 0px;">
        <li>Solidez Completa</li>
        <li>7 días – 3000 PSI</li>
        <li>28 días – 4000 PSI</li>
      </ul></div>
      <div class="view_details"><a href="/es/concrete_mix" class="green2">Ver Detalles</a></div>
  </div>
  <div class="product">
    <div class="title_side title_side_brown"></div>
    <div class="title title_brown">SANDSTONE RENDER (Disponible en Coral Coarse y Coral Fine)</div>
    <div class="pic"><img src="/img/products_sandstone_render.gif" width="167" height="225" alt="Sandstone Render" /></div>
    <div class="description">
      <ul style="width: 500px; margin-top: 0px;">
        <li>Bajo mantenimiento</li>
        <li>Resistente al agua y extremadamente duradero; puede lavarse con presión</li>
        <li>Una gran cantidad de posibilidades de diseño</li>
        <li>Fabricado para asegurar consistencia, eliminando los riesgos de procesado</li>
        <li>Atractivo acabado natural – no hace falta pintura</li>
        <li>Puede ahorrar trabajo y elimina los desperdicios en el lugar de trabajo al no tener que procesarlo en el sitio</li>
      </ul></div>
      <div class="view_details"><a href="/es/sandstone_render" class="brown">Ver Detalles</a></div>
  </div>
</div>
