---
title: CONTACTEZ NOUS

metaDescription:

metaKeywords:

slug: tile_grout
date: 2016-09-13 21:22:54
layout: contact
language: fr
---
<div id="content_wide">
  <div id="page_header">CONTACTEZ NOUS</div>
  <div id="form">
    <form method="post" id="contact_form" onsubmit="contactFormSubmit(event);">
      <div class="field"><span>Catégorie</span><select name="Type"><option value="Enquête">Enquête</option><option value="Générale">Générale</option></select></div>
      <div class="field"><span>Nom</span><input type="text" name="Name" /></div>
      <div class="field"><span>Email</span><input type="text" name="Email" /></div>
      <div class="field"><span>Compagnie</span><input type="text" name="Company" /></div>
      <div class="field"><span>Téléphone</span><input type="text" name="Telephone" /></div>
      <div class="field"><span>Pays</span><select name="Country"><option>Choisissez un Pays</option><option value="Trinidad and Tobago">Trinidad & Tobago</option></select></div>
      <div class="field"><span>Message</span><textarea name="Message"></textarea></div>
      <div class="field"><span>&nbsp;</span><input type="image" src="/img/fr/button_submit.gif" /></div>
      <div class="status-message"></div>
    </form>
  </div>
  <div id="address">
    <div style="float: left; width: 250px;">
      <p style="margin-top: 0px;"><strong>Adresse postale:</strong><br />
        Claxton Bay P.O. Box 4235<br />
        Plaisance Park Industrial Estate<br />
        Point-a-Pierre,<br />
        Trinidad
      </p>
      <p><strong>Téléphone:</strong> (868) 659-4060<br />
      <strong>Fax:</strong> (868) 659-4057</p>

      
      <p><strong>Email:</strong><br />
      Générale: <a href="mailto:info@micromilling.com">info@micromillingtt.com</a><br />
      Ventes: <a href="mailto:sales@micromilling.com">sales@micromillingtt.com</a>
    </div>
    <div style="float: right; width: 305px;"><iframe width="294" height="240" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=204494550503034938140.00049f00dafb4d9fb097c&t=h&source=embed&ll=10.336956,-61.459574&spn=0,0&output=embed" style="float: right; padding: 0px 11px 0px 0px;"></iframe></div>
    <div class="contact_img clear"><a href="/img/contact_img1_lg.jpg" rel="shadowbox"><img src="/img/contact_img1.jpg" width="173" height="130" /></a></div>
    <div class="contact_img"><a href="/img/contact_img2_lg.jpg" rel="shadowbox"><img src="/img/contact_img2.jpg" width="173" height="130" /></a></div>
    <div class="contact_img"><a href="/img/contact_img3_lg.jpg" rel="shadowbox"><img src="/img/contact_img3.jpg" width="173" height="130" /></a></div>
  </div>
</div>