---
layout: false
---
<div class="popup_title">Micro Milling’s Thinset now available in Guyana</div>
<p>Micro Milling’s Thinset now available in Guyana. After "excellent reviews" from local contractors TCL Guyana now distributes nationwide.</p>
<script type="text/javascript"> Cufon.refresh(); </script> 