---
title: Thinset | Tile Grout | Sandstone Render | Plaster Mix | Trinidad &amp; Tobago

metaDescription: Micro Milling LTD provides quality service and products to the Caribbean contractor who needs the best in thinset, grout, sandstone render and plaster mix. We have been serving customers since 1974 and are committed to continue to grow and diversify our products to meet your needs.

metaKeywords: Micro milling, sand processing, cement blocks, cement, trinidad, tobago, caribbean, TTMA, NTCA, tile, Thinset, Grout, Sandstone Render, Plaster Mix, Trinidad and Tobago Manufacturers Association, National Tile Contractors Association, concrete, mortar mix, cement, concrete repair products, stucco, waterproofing, tile setting, blacktop products, thin set, floor underlayment, sand, aggregates, masonry, Micro Milling LTD, Plaisance Park Industrial Estate, Point-a-Pierre, Trinidad 

slug: index
date: 2016-09-13 21:22:54
layout: contact
language: en
---
<script language="javascript" type="text/javascript">
  swfobject.params = {
      menu: "false",
      wmode: "transparent"    
  };

  swfobject.attributes = {
      id: "flash"
  };
  swfobject.embedSWF("/swf/en/homepage.swf", "flash", "994", "292", "9.0.0", "/swf/en/expressInstall.swf", swfobject.flashvars, swfobject.params, swfobject.attributes);
</script>
<div id="flash"><img src="/img/homepage.png" width="994" height="292" alt="" /></div>
<div id="home_bottomarea" style="background: url(../img/en/bg_home_bottomarea.png);">
  <!-- Let's read the directory but only the home_product_ images. --> 
     
     
  <!-- Display the image -->
  <div id="featured_product"><a href="/tile_grout"><img src="/img/home_product_tile_grout.gif" width="298" height="135" alt="" /></a><a href="/tile_grout" class="button"></a></div>
  <div id="latest">
    <div class="post">
        <h1>Micro Milling Ltd. hosts historic NTCA Workshop</h1>
        <p>Local thinset and grout manufacturer, Micro Milling Ltd., created history when it hosted a custom training workshop conducted by the NTCA. <a href="img/ad.gif" class="news">Read More</a></p>
        <a href="/news" class="button"></a>
    </div>
  </div>
  <div id="google_map"><a href="/contact"><img src="/img/google_map2.png" width="319" height="127" alt="" /></a><a href="/contact" class="button"></a></div>
</div>