---
layout: false
---
<div class="popup_title">NEW GROUT COLOURS NOW AVAILABLE</div>
<p>Due to popular demand, our line of grout products now include 3 exciting new colours; Antique, Sun Glow and Sea Shell. Available in both 25lb and 5lb bags. <br />
<br />
Contact your local hardware for availability today.</p>
<script type="text/javascript"> Cufon.refresh(); </script> 