---
layout: false
---
<div class="popup_title">NEW GROUT PLANT COMPLETE</div>
<p>With our new grout plant now complete, we curently offer 25 colours of Sanded Tile Grout. We have also recently launched our Unsanded Tile Grout line with 5 popular colours available in convenient 10lb bags. This will make us the sole manufacturer
in T&amp;T with the ability to offer such a wide range of tile grout colours</p>
<script type="text/javascript"> Cufon.refresh(); </script> 