---
title: DERNIÈRES NOUVELLES

metaDescription:

metaKeywords:

slug: news
date: 2016-09-13 21:22:54
layout: main
sidebar:
  pages:
    news0:
      url: false
      lang_key: news.sidebar.pages.news0
    news1:
      url: false
      lang_key: news.sidebar.pages.news1
    news2:
      url: false
      lang_key: news.sidebar.pages.news2
    news3:
      url: false
      lang_key: news.sidebar.pages.news3
    news4:
      url: false
      lang_key: news.sidebar.pages.news4
    news5:
      url: false
      lang_key: news.sidebar.pages.news5
    news6:
      url: false
      lang_key: news.sidebar.pages.news6
    news7:
      url: false
      lang_key: news.sidebar.pages.news7

language: fr
---
<div id="content">
  <div id="page_header">DERNIÈRES NOUVELLES</div>
  <div class="article">
    <div class="title">FAMILY COMPANY LAYS LA FONDATION POUR LE SUCCÈS</div>
    <div class="pic"><img src="/img/article_pic.gif" width="122" height="86" alt="" /></div>
    <div class="content">Micro Milling Ltd est une société familiale basée à Trinidad qui produit des mélanges sable/ciment.</div>
    <div class="read_more"><a href="/fr/bvc_fr.html" class="news" target="_blank"><img src="/img/button_read_more.gif" width="87" height="22" alt="Read More" /></a></div>
  </div>
  <div class="article">
    <div class="title">COULEURS NOUVELLES DE GROUT SONT MAINTENANT DISPONIBLES</div>
    <div class="pic"><img src="/img/article_pic.gif" width="122" height="86" alt="" /></div>
    <div class="content">En raison de la demande massive, notre gamme de produits de coulis comprend maintenant 3 nouvelles couleurs ; Antique, lueur de soleil et coquillages.</div>
    <div class="read_more"><a href="/fr/new-colours.html" class="news"><img src="/img/fr/button_read_more.gif" width="87" height="22" alt="Read More" /></a></div>
  </div>
  <div class="article">
    <div class="title">NOUVEAU PLASTER ET CONCRETE MIXES</div>
    <div class="pic"><img src="/img/article_pic.gif" width="122" height="86" alt="" /></div>
    <div class="content">Nos produits incluent maintenant PLASTER et CONCRETE MIX spécifique pour réalisation du travail des entrepreneurs, plus facile à mélanger avec une meilleure consistance et de qualité de mélange.</div>
    <div class="read_more"><a href="/fr/mixes.html" class="news"><img src="/img/fr/button_read_more.gif" width="87" height="22" alt="Read More" /></a></div>
  </div>
  <div class="article">
    <div class="title">MICRO MILLING THIN SET EST MAINTENANT DISPONIBLEEN GUYANE</div>
    <div class="pic"><img src="/img/article_pic.gif" width="122" height="86" alt="" /></div>
    <div class="content">Après "excellents commentaires" des entrepreneurs locaux TCL Guyana distribue désormais à l'échelle nationale.</div>
    <div class="read_more"><a href="/fr/guyana.html" class="news"><img src="/img/fr/button_read_more.gif" width="87" height="22" alt="Read More" /></a></div>
  </div>
  <div class="article">
    <div class="title">MICRO MILLING LTD. HOTES D’UNE HISTORIQUE DE L’ATELIER NTCA</div>
    <div class="pic"><img src="/img/article_pic.gif" width="122" height="86" alt="" /></div>
    <div class="content">Fabricant local THINSET et DE GROUT (coulis), Micro Milling Ltd., créé l'histoire quand il a organisé un atelier de formation sur mesure menée par le NTCA.</div>
    <div class="read_more"><a href="/img/ad.gif" class="news"><img src="/img/fr/button_read_more.gif" width="87" height="22" alt="Read More" /></a></div>
  </div>
  <div class="article">
    <div class="title">NOUVAUX SACS DE 05LB TRES PRATIQUE</div>
    <div class="pic"><img src="/img/article_pic.gif" width="122" height="86" alt="" /></div>
    <div class="content">Notre large gamme de TILES GROUT est maintenant disponibles en sacs de 5 LB plus pratique</div>
    <div class="read_more"><a href="/img/5lb-sack.jpg" class="news"><img src="/img/fr/button_read_more.gif" width="87" height="22" alt="Read More" /></a></div>
  </div>
  <div class="article">
    <div class="title">NOUVELLE USINE COMPLETE DE GROUT</div>
    <div class="pic"><img src="/img/article_pic.gif" width="122" height="86" alt="" /></div>
    <div class="content">Avec notre nouvelle usine de coulis, nous offrons actuellement 25 couleurs de Tile Grout.( coulis de carrelage) sablée.</div>
    <div class="read_more"><a href="/fr/test2.html" class="news"><img src="/img/fr/button_read_more.gif" width="87" height="22" alt="Read More" /></a></div>
  </div>
  <!-- 
  <div class="article">
    <div class="title">COMPLETADA LA NUEVA PLANTA DE MASILLA</div>
    <div class="pic"><img src="/img/article_pic.gif" width="122" height="86" alt="" /></div>
    <div class="content">Con nuestra nueva planta de masilla ahora completada, actualmente ofrecemos 25 colores de Grout con Arena para Alicatado.</div>
    <div class="read_more"><a href="/fr/test.html" class="news"><img src="/img/fr/button_read_more.gif" width="87" height="22" alt="Read More" /></a></div>
  </div> -->
</div>